// Layout and General Styles
/* max width 1300px */
@media only screen and (max-width: 1300px) {
  .minwidth,
  .minwidth_holyhack,
  .minwidth_container {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
  }
}

/* content top space */
div#content {
  @media only screen and (max-width: 1075px) {
    margin-top: 95px !important;
  }

  @media only screen and (max-width: 700px) {
    margin-top: 170px !important;
  }

  @media only screen and (max-width: 600px) {
    margin-top: 260px !important;
  }
}