// Layout and General Styles
/* max width 1300px */
@media only screen and (max-width: 1300px) {
  .minwidth,
  .minwidth_holyhack,
  .minwidth_container {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
  }
}

$margin-top: 50px;

/* content top space */
#content {
  padding: 0 !important;
  margin-top: $margin-top !important;

  @media (max-width: 1000px) {
    margin-top: $margin-top + 40px !important;

    @media (max-width: 768px) {
      margin-top: $margin-top + 80px !important;
    }

    @media (max-width: 725px) {
      margin-top: $margin-top + 120px !important;
    }

    @media (max-width: 600px) {
      margin-top: $margin-top - 40px !important;
    }

    @media (max-width: 480px) {
      margin-top: $margin-top + 40px !important;
    }
  }
}
