@media only screen and (max-width: 750px) {
  /* remove speed and errors panel */
  #speedpanel-canvas,
  #speed-label,
  #errors-label {
    display: none !important;
  }

  /* realign speedpanel rest items */
  #status table {
    display: flex !important;
    justify-content: center !important;

    tr:nth-child(1) {
      width: 100% !important;
    }
  }

  .gameblock,
  #typeblock {
    width: 90vw !important;
  }

  #inputtext {
    width: 100% !important;
  }

  #errors_tab {
    float: left !important;
    width: 50% !important;
    padding: 5px !important;
  }

  #errorwork {
    float: right !important;
    width: 50% !important;
    padding: 5px !important;
    text-align: center !important;
  }
}

.player {
  @media only screen and (max-width: 750px) {
    width: 90vw !important;
    overflow: hidden !important;

    .rating {
      font-size: 12px !important;
      margin-right: 8px !important;

      .delresult {
        left: 75px !important;
        margin: 0 !important;
      }

      .stats {
        left: 115px !important;
      }
    }
  }
}

/* game type select */
#gametype-select {
  @media only screen and (max-width: 700px) {
    top: 100px !important;
    left: 0 !important;
    height: 300px !important;
  }
}