@import "../mixins";
@import "../data/variables";
@import "../animations";

$gap: 10px;

#content {
  #index {
    display: flex !important;
    flex-direction: column !important;
    gap: $gap;
    margin-top: $gap;

    .firstrow,
    .secondrow {
      clear: none !important;
      float: none !important;
      width: 100% !important;
      margin: 0 !important;

      // First row (News), Second row (Info, Review)
      .col1 {
        display: none !important;
      }

      // First row (Game buttons), Second row (Discussed, Top)
      .col2,
      .col3,
      .col4 {
        width: unset !important;
        left: unset !important;
        position: unset !important;
        overflow: hidden !important;
      }
    }

    .firstrow {
      // Convert to flexbox layout
      display: flex !important;
      align-items: center; // Center vertically
      justify-content: center; // Center horizontally
      gap: $gap;

      // News block
      .col1 {
        display: none !important;
      }

      // Fast, Choose, Create game
      .col2,
      .col3,
      .col4 {
        height: 45px !important;
        flex: 1; // Equal width distribution
        display: flex !important;
        flex-direction: column;
        align-items: center;

        .index-icon-container {
          text-align: unset !important;
          width: 100% !important;
        }

        // Hide game buttons images
        a:not(.title),
        p {
          display: none !important;
        }

        a.title {
          display: inline-flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-decoration: none !important;
          text-transform: uppercase !important;
          width: 100% !important;
          height: 45px !important;
          margin: 0 !important;
          font: 500 1em "Montserrat", sans-serif !important;
          color: $white !important;
          background-color: $deepgray !important;
          border-radius: 10px !important;
          border: 1px solid $gray !important;
          transition: all 0.15s ease-out !important;
          position: relative !important;

          &:hover {
            color: $lightblue !important;
            background-color: $black !important;
            border-color: $lightblue !important;
          }
        }
      }
      // Fast game
      .col2 {
        a.title:hover::after {
          content: "⚡" !important;
          position: absolute !important;
          left: 15px !important;
          font-size: 1.4em !important;
          font-family: "Noto Color Emoji", sans-serif;
          z-index: 2 !important;
          animation: bounce 0.6s ease infinite alternate !important;
          transform-origin: bottom center;
        }
      }

      // Choose game
      .col3 {
        a.title:hover::after {
          content: "🎯" !important;
          position: absolute !important;
          left: 15px !important;
          font-family: "Noto Color Emoji", sans-serif;
          font-size: 1.4em !important;
          z-index: 2 !important;
          animation: spin 1s linear infinite !important;
          transform-origin: 1.4/2em 1.4/2em !important;
        }
      }

      // Create game
      .col4 {
        a.title:hover::after {
          content: "🛠️" !important;
          position: absolute !important;
          left: 15px !important;
          font-family: "Noto Color Emoji", sans-serif;
          font-size: 1.4em !important;
          z-index: 2 !important;
          animation: vigorousShake 1.5s ease-in-out infinite !important;
        }
      }
    }

    // Stats
    .indexstats-block {
      display: none !important;
    }

    .secondrow {
      // Convert to flexbox layout for centering
      display: flex !important;
      justify-content: center; // Center horizontally
      align-items: start; // Align to top (or use 'center' for vertical centering)
      gap: 1em; // Add space between columns

      // Discussed
      .col2 {
        flex: 1; // Equal width
        display: flex !important;
        flex-direction: column;
        width: 50% !important;
        border-radius: 10px !important;
        border: 1px solid $gray !important;

        #live {
          margin: 0 !important;
          padding: $gap * 2 !important;
          background-color: $deepgray !important;

          .switch {
            display: flex !important;
            flex-wrap: wrap !important;
            gap: $gap !important;

            a,
            span {
              border-radius: 3px !important;
              margin: 0 !important;
            }

            a {
              background-color: $gray !important;
              color: $deepgray !important;
              text-decoration: none !important;
              transition: background-color 0.15s ease-out !important;

              &:hover {
                background-color: $blue !important;
              }
            }

            span {
              color: $deepgray !important;
              background-color: $blue !important;
            }
          }

          #discussing_today,
          #discussing_week,
          #discussing_recent {
            .comments-cnt {
              top: 0 !important;
              color: $deepgray !important;
              background-color: $gray !important;
              border-radius: 3px !important;
              transition: background-color 0.15s ease-out !important;

              &:hover {
                background-color: $blue !important;
              }

              &::before {
                background: $show-comments-icon !important;
              }
            }
          }

          #discussing_forum {
            li {
              height: 30px !important;
              margin: 0 !important;

              &::after {
                content: "";
                position: absolute !important;
                top: 0 !important;
                bottom: 0 !important;
                right: 0 !important;
                width: 20px !important;
                display: inline-flex !important;
                background: linear-gradient(
                  to right,
                  transparent,
                  darken($deepgray, 2%)
                ) !important;
              }
            }
          }

          li {
            overflow: hidden !important;
            position: relative !important;
            margin: 0 0 5px !important;
            white-space: wrap !important;
            width: 100% !important;

            .time {
              color: $orange !important;
            }

            .user-link {
              padding-left: 0;
              display: inline-flex !important;
              align-items: center !important;
              height: 30px !important;
            }

            .user-link[style*="avatars/"] {
              background-position: left center !important;
              background-size: 24px !important;
              padding-left: 30px !important;
            }

            .date {
              margin: 0 5px 0 0 !important;
            }

            .title {
              margin: 0 5px 0 0 !important;
            }

            .title2 {
              margin: 0 5px !important;
              color: $white !important;
            }

            .comments_num {
              margin: 0 5px 0 0 !important;
              padding: 5px 0 !important;
              color: $green !important;
            }
          }

          .grad {
            display: none !important;
          }
        }
      }

      // Top
      .col3 {
        flex: 1; // Equal width
        display: flex !important;
        flex-direction: column;
        width: 50% !important;
        border-radius: 10px !important;
        border: 1px solid $gray !important;

        #top {
          margin: 0 !important;
          padding: $gap * 2 !important;
          background-color: $deepgray !important;

          // Remove default rounded corners styling
          .r,
          .tl,
          .tr,
          .bl,
          .br {
            background: none !important;
            border: none !important;
            border-radius: 0 !important;
          }

          #switch_with_icons {
            display: flex !important;
            flex-wrap: wrap !important;
            gap: $gap !important;

            .swtop {
              display: inline-flex !important;
              background-color: $gray !important;
              border-radius: 3px !important;
              transition: background-color 0.15s ease-out !important;
              padding: 0 !important;
              margin: 0 !important;

              &:hover {
                background-color: $blue !important;
              }

              &.on {
                color: $deepgray !important;
                background-color: $blue !important;
              }

              a:first-of-type {
                display: none !important;
              }

              a.top-title,
              a.top-title-on {
                color: $deepgray !important;
                text-decoration: none !important;
                padding: 6px !important;
                display: inline !important;
              }
            }
          }

          .note {
            color: $orange !important;
          }

          tr {
            height: 30px !important;

            th {
              // As site original font size for live section timestamp
              font-size: 11px !important;
              color: $gray !important;
            }

            td:first-of-type {
              padding-left: 0 !important;
              display: inline-flex !important;
              align-items: center !important;
              margin: 0 !important;
              padding: 0 !important;
              height: 30px !important;
            }

            td[style*="avatars/"] {
              padding-left: 30px !important;
              background-position: left center !important;
              background-size: 24px !important;
            }
          }

          .rc {
            padding: 0 !important;

            a.link {
              display: inline-flex !important;
              position: relative !important;
              right: unset !important;
              margin: 0 !important;
              padding: 6px !important;
              text-decoration: none !important;
              width: 100% !important;
              justify-content: center !important;
              align-items: center !important;
              background-color: $gray !important;
              border-radius: 3px !important;
              color: $deepgray !important;
              margin-top: 5px !important;
              transition: background-color 0.15s ease-out !important;

              &:hover {
                background-color: $blue !important;
              }
            }
          }
        }
      }
    }
  }
}

@import "home-adaptive";
