@import "../data/variables";

/* Logo styles */
#head #logo {
  z-index: 120 !important;
  width: 150px !important;
  height: 50px !important;
  padding: 0 !important;
  float: none !important;
  position: fixed !important;
  top: 45px !important;
  background-color: $black !important;
  border-radius: 0 0 6px 6px !important;

  a {
    display: block !important;
    width: 150px !important;
    height: 50px !important;
    transition: filter 0.15s ease !important;

    &:hover {
      filter: brightness(0.8) !important;
    }

    &::after {
      content: "" !important;
      mask: $keysLogoBig no-repeat center / 130px !important;
      background-color: $orange !important;
      height: 50px !important;
      width: 150px !important;
      display: flex !important;
      position: absolute !important;
    }
  }

  // Remove default logo image
  img {
    display: none !important;
  }
}

@import "logo-adaptive";