@import "../data/variables";
@import "checkerboard";

/* Logo styles */
#head #logo {
  z-index: 10 !important;
  width: 150px !important;
  height: 45px !important;
  padding: 0 !important;
  float: none !important;
  position: fixed !important;
  background-color: $darkgray !important;
  border-radius: 0 0 6px 6px !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7) !important;

  a {
    display: block !important;
    width: 150px !important;
    height: 45px !important;
    transition: filter 0.15s ease !important;

    &:hover {
      filter: brightness(0.8) !important;
    }

    &::after {
      content: "" !important;
      mask: $keysLogoBig no-repeat center / 130px !important;
      @include checkerboard;
      height: 45px !important;
      width: 150px !important;
      display: flex !important;
      position: absolute !important;
    }
  }

  // Remove default logo image
  img {
    display: none !important;
  }
}

@import "logo-adaptive";