@media (max-width: 1000px) {
  #head #logo {
    top: 88px !important;
    left: 5px !important;
    width: 55px !important;

    a {
      width: 55px !important;
      &::after {
        mask: $keysLogoSmall no-repeat center / 30px !important;
        width: 55px !important;
      }
    }
  }
}