@import "../mixins";

#content #profile-block {
  display: grid !important;
  grid-template-areas:
    "title title"
    "menu menu"
    "content right";
  grid-template-columns: 65% 35%;
  grid-template-rows: auto auto 1fr;

  dl {
    margin: 10px 0 !important;
  }

  dd {
    margin: 0 !important;
  }

  .user-title {
    grid-area: title;
    width: 100% !important;

    .btn_fav {
      filter: invert(1) !important;
    }

    .remove {
      color: $lightblue !important;
      background: $close-icon no-repeat left center / contain !important;
      filter: hue-rotate(150deg) !important;
    }
  }

  .right-col {
    grid-area: right;
    width: 100% !important;
    padding: 0 !important;

    .comments {
      background: $black !important;
      border: 1px solid $blue !important;
      overflow: hidden !important;

      .rss {
        top: 0 !important;
        background: $rss-icon !important;

        img {
          visibility: hidden !important;
        }
      }

      .comment {
        display: flex !important;
        position: relative !important;
        margin: 25px 0 15px !important;

        b,
        br {
          display: contents !important;
        }

        .info[style*="avatars/"] {
          width: 32px !important;
          height: 32px !important;
          padding-left: 40px !important;

          &::before {
            @include avatar-mask(4, 32px);
          }
        }

        .info {
          .author,
          .date {
            position: absolute !important;
            top: -15px !important;
          }

          .author {
            left: 85px !important;
          }

          .date {
            left: 0 !important;
            width: 80px !important;
          }
        }
      }

      .link {
        width: 50% !important;
        height: 32px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-decoration: none !important;
        color: $black !important;
        background-color: $gray !important;
        bottom: 0 !important;
        transition: background-color 0.15s ease !important;

        &:hover {
          background-color: $blue !important;
        }

        i {
          margin: 0 !important;
          left: 15px !important;
        }
      }

      .write {
        left: 0 !important;
        border-right: 1px solid $black !important;

        i {
          background: $write-comment-icon !important;
        }
      }

      .other {
        left: 50% !important;

        i {
          background: $show-comments-icon !important;
        }
      }
    }
  }

  .menu {
    grid-area: menu;
    width: 100% !important;
  }

  .user-content {
    margin-top: 0 !important;
    grid-area: content;
    width: 100% !important;

    dt {
      width: 100px !important;
    }

    dd[style*="avatars/"] {
      padding-left: 40px !important;
      width: 32px !important;
      height: 32px !important;
      position: relative !important;

      &::before {
        @include avatar-mask(4, 32px);
      }
    }

    dd {
      margin-left: 120px !important;
      background-color: transparent !important;

      .words {
        border: 1px solid $blue !important;
        background-color: $black !important;

        tr {
          .num,
          .text {
            background: transparent !important;
          }

          .num {
            color: $blue !important;
          }

          .text {
            color: $white !important;
          }
        }
      }
    }
  }

  .editfor-title {
    text-decoration: none !important;
    padding: 4px 8px !important;
    color: $black !important;
    background-color: $gray !important;
    border-radius: 3px !important;

    &.loading i {
      filter: invert(1) !important;
    }

    &:hover {
      background-color: lighten($gray, 10%) !important;
    }

    i {
      margin-left: -30px !important;
      filter: brightness(0.6) contrast(1.5) sepia(0.5) !important;
    }

    .dashed {
      border: none !important;
      color: inherit !important;
    }
  }
}
