#content #profile-block {
  margin-top: 10px !important;
  display: grid !important;
  grid-template-areas:
    "title right"
    "menu right"
    "content right";
  // grid-template-columns: 65% 35%;
  grid-template-columns: 100% auto;
  grid-template-rows: auto auto 1fr;

  dl {
    margin: 10px 0 0;
  }

  dd {
    margin: 0 !important;
  }

  dl.user-title {
    grid-area: title;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;

    dd {
      table {
        tbody {
          tr {
            @include flex-layout(row, center, center);
            gap: 10px !important;

            @media (max-width: 600px) {
              @include flex-layout(column, center, center);
            }

            td.title {
              @media (max-width: 600px) {
                @include flex-layout(column, center, center);
              }
            }
            td.links {
              .btn_play,
              .btn_fav {
                margin: 0 !important;
              }

              .btn_fav {
                filter: invert(1) !important;
              }
            }
          }
        }
      }

      .remove {
        color: $lightblue !important;
        background: icon("close", $lightblue) no-repeat left center / contain !important;
        filter: hue-rotate(150deg) !important;
        margin: 0 !important;
      }
    }
  }

  .menu {
    grid-area: menu;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .user-content {
    clear: unset !important;
    margin-top: 0 !important;
    grid-area: content;
    width: 100% !important;

    @media (max-width: 450px) {
      margin: 0 10px !important;
      width: auto !important;
    }

    dt {
      width: 100px;
    }

    dd[style*="avatars/"] {
      padding-left: 40px !important;
      width: 32px !important;
      height: 32px !important;
      position: relative !important;

      &::before {
        @include avatar-mask(32px, $darkgray);
      }
    }
    dl:not(.write):not(:has(.title)) {
      dt {
        @media (max-width: 450px) {
          display: none !important;
        }
      }

      dd {
        margin-left: 120px !important;
        background-color: transparent !important;

        @media (max-width: 450px) {
          margin-left: 0 !important;
        }

        .words {
          width: fit-content !important;
          border: 1px solid $blue !important;
          background-color: $black !important;

          tr {
            .num,
            .text {
              background: transparent !important;
            }

            .num {
              color: $blue !important;
            }

            .text {
              color: $white !important;
            }
          }
        }
      }
    }
  }

  .editfor-title {
    text-decoration: none !important;
    padding: 4px 8px !important;
    color: $black !important;
    background-color: $gray !important;
    border-radius: 3px !important;

    &.loading i {
      filter: invert(1) !important;
    }

    &:hover {
      background-color: lighten($gray, 10%) !important;
    }

    i {
      margin-left: -30px !important;
      filter: brightness(0.6) contrast(1.5) sepia(0.5) !important;
    }

    .dashed {
      border: none !important;
      color: inherit !important;
    }
  }
}

@import "./vocabulary-comments";