// Car aero dialog styles
.dlg-profile-car-aero {
  .aero-canvas {
    border: none !important;

    .content {
      background: $middlegray !important;
    }
  }

  .warning {
    background: rgba(225, 20, 0, 0.5) !important;
    color: $white !important;
  }
}

// Toolbar and button styles for car section
.literally {
  .toolbar {
    background: $deepgray !important;

    .toolbar-row {
      border: none !important;
    }
  }

  .button {
    &.danger {
      background: rgba(225, 20, 0, 0.5) !important;
    }

    border: none !important;
    color: $white !important;
    background: $darkgray !important;

    &.active,
    &:hover {
      border: none !important;
      color: $darkgray !important;
      background: $blue !important;
    }
  }
}

#file-input:hover {
  cursor: pointer !important;
}

// My car block styles
.profile-car {
  .my-car {
    z-index: 15 !important;
    background: $darkgray !important;
    border: 1px solid $middlegray !important;

    .car {
      background: $darkgray !important;
    }

    .title {
      color: gold !important;
      border-bottom: 1px solid transparent !important;
    }
  }

  .shop {
    .no-tuning {
      color: $white !important;
    }
  }

  .car-block {
    .name {
      color: $blue !important;
    }
  }

  .tuning-category {

    .tuning-item {
      border: 1px solid transparent !important;

      .price {
        color: $white !important;
        
        .scores {
          color: lightgreen !important;
          background: transparent !important;
        }
      }

      &.active {
        border: 1px solid $blue !important;
      }
    }
  }
}