// Messages section styles
#content .profile-messages {
  .name {
    color: $blue !important;

    &:hover {
      color: $lightblue !important;
    }
  }

  .dialog {
    border: 1px solid $gray !important;
    border-radius: unset !important;
  }

  .message {
    &.unread {
      background: $deepgray !important;
    }
  }

  .messages-contacts {
    .message {
      &.unread {
        background: $blue !important;

        .text {
          color: $deepgray !important;
        }
      }
    }

    .contacts-content {
      .contact {
        &.unread {
          background-color: $deepgray !important;
        }
      }
    }

    .contact {
      border: none !important;
      border-radius: 5px !important;

      &:hover {
        background: $deepgray !important;
      }
    }
  }

  .deleted {
    background-color: darken($red, 10%) !important;
    color: darken($red, 50%) !important;
    border-radius: 3px !important;

    a {
      color: $black !important;
    }
  }

  .dialog-header {
    background: $darkgray !important;
    border-bottom: 1px solid $gray !important;
  }

  .dialog-write {
    border-top: 1px solid $gray !important;
    background: $darkgray !important;
  }
}
