@import "statistics-table";

$gametype-colors: (
  "normal": (
    #262626: darken($gametype-normal, 20%),
    #333333: $gametype-normal,
  ),
  "chars": (
    #884300: darken($gametype-chars, 20%),
    #b55900: $gametype-chars,
  ),
  "digits": (
    #595959: darken($gametype-digits, 20%),
    #777777: $gametype-digits,
  ),
  "sprint": (
    #622f2c: darken($gametype-sprint, 20%),
    #833f3a: $gametype-sprint,
  ),
  "abra": (
    #2e3641: darken($gametype-abra, 20%),
    #3d4856: $gametype-abra,
  ),
  "noerror": (
    #356e80: darken($gametype-noerror, 20%),
    #4692aa: $gametype-noerror,
  ),
  "vocabulary": (
    #3e397d: darken($gametype-voc, 20%),
    #524ca7: $gametype-voc,
  ),
  "other": (
    #999999: $black,
    #cccccc: $deepgray,
  ),
);

.profile-root {
  .profile-content {
    .profile-stats {
      .profile-stats-overview {
        .row {
          @include flex-layout(row, center, center);
          margin: 0 !important;

          .col-xs-8 {
            h4 {
              display: none !important;
            }
            .chart-pie {
              svg {
                g {
                  path {
                    stroke: none !important;
                  }

                  // Dynamic generation using @each
                  @each $gametype, $color-map in $gametype-colors {
                    @each $original-color, $new-color in $color-map {
                      path[fill="#{$original-color}"] {
                        fill: #{$new-color} !important;
                      }
                    }
                  }
                }
              }
            }
          }

          .col-xs-4 {
            .recent {
              background: $black !important;

              ul {
                li {
                  background: transparent !important;
                }
              }
            }
          }

          @include chart-table;
        }
      }
    }
  }
}
