#content {
  #add-topic {
    dl {
      dd {
        margin: 0 !important;
      }
    }

    h4 {
      @include flex-layout(row);
      gap: 10px !important;
      font-size: 0 !important;

      a[href*="/forum/"] {
        @include anchor-to-button();
      }

      span {
        font-size: 22px !important;
      }
    }

    form {
      dl {
        dt {
          display: none !important;
        }

        dd {
          margin: 0 !important;

          input#title-input {
            width: 100% !important;
            font-size: 22px !important;
            padding: 10px !important;
            border-radius: 5px !important;
            border: 1px solid $gray !important;
            background-color: $deepgray !important;
            transition: border-color 0.15s ease-in-out,
              background-color 0.15s ease-in-out !important;

            &:focus {
              border-color: $blue !important;
              background-color: $black !important;
            }
          }

          #bb_tools_text,
          #text-controls {
            margin: 10px 0 !important;
          }

          textarea#text_textarea {
            width: 100% !important;
            height: 400px !important;
            font-size: 1.2em !important;
            padding: 10px !important;
            margin-bottom: 5px !important;
            border-radius: 5px !important;
            border: 1px solid $gray !important;
            background-color: $deepgray !important;
            resize: none !important;
            transition: border-color 0.15s ease-in-out,
              background-color 0.15s ease-in-out !important;

            &:focus {
              border-color: $blue !important;
              background-color: $black !important;
            }
          }
        }
      }

      dl.write {
        dd {
          @include flex-layout(row);
        }

        dd:has(input[type="submit"]) {
          margin-top: 5px !important;
        }

        input[type="submit"] {
          width: 50% !important;
          border: none !important;
          outline: none !important;
          background-color: $gray !important;
          color: $black !important;
        }

        input[name="send"] {
        }

        input[name="preview"] {
        }
      }
    }
  }
}
