@import "../mixins";

#content {
  #forums-list {
    table {
      tbody {
        display: flex !important;
        flex-direction: column !important;
        tr {
          margin-bottom: 10px !important;
          display: grid !important;
          grid-template-columns: auto 100px 100px 420px !important;
        }
      }
    }

    tr.header {
      th.title {
        .moderators {
          color: $red !important;
        }
      }

      th.topic-cnt {
        color: $lightblue !important;
        text-align: center !important;
        @include flex-layout();
      }

      th.post-cnt {
        color: $green !important;
        text-align: center !important;
        @include flex-layout();
      }

      th:last-child {
        color: $white !important;
        @include flex-layout();
      }
    }

    tr.item {
      border: 1px solid $gray !important;
      border-radius: 5px !important;
      padding: 0 !important;
      position: relative !important;
      min-height: 70px !important;

      @media (max-width: 900px) {
        display: flex !important;
        flex-direction: column !important;
        min-height: auto !important;
        padding: 10px !important;
        background: $deepgray !important;
      }

      td {
        border: none !important;
        padding: 0 !important;
      }

      td:first-child {
        @include flex-layout(column, center, start);

        @media (max-width: 900px) {
          width: 100% !important;
          order: 1 !important;
          justify-content: flex-start !important;
        }

        a.short-description {
          @include anchor-to-button(1.5em, 100%);
          margin: 10px !important;

          @media (max-width: 1000px) {
            @include flex-layout(row, start, center);
            font-size: 1.1em !important;

            @media (max-width: 900px) {
              margin: 0 0 10px 0 !important;
              font-size: 1.5em !important;
            }

            @media (max-width: 375px) {
              font-size: 1.2em !important;
            }
          }
        }

        .long-description {
          color: $lightgray !important;
          font-size: 0.9em !important;
          padding: 0 10px 10px 10px !important;
          margin: 0 !important;

          @media (max-width: 1000px) {
            font-size: 0.8em !important;

            @media (max-width: 900px) {
              padding: 0 0 10px !important;
            }
          }
        }
      }

      td.topic-cnt {
        color: $lightblue !important;
        @include flex-layout();

        @media (max-width: 900px) {
          order: 2 !important;
          display: inline-block !important;
          text-align: left !important;
          margin: 0 !important;

          &:before {
            content: "Темы:" !important;
            margin-right: 5px !important;
            color: $white !important;
          }
        }
      }

      td.post-cnt {
        color: $green !important;
        @include flex-layout();

        @media (max-width: 900px) {
          order: 3 !important;
          display: inline-block !important;
          text-align: left !important;
          margin: 0 !important;

          &:before {
            content: "Сообщения:" !important;
            margin-right: 5px !important;
            color: $white !important;
          }
        }
      }

      // HR line after post-cnt on mobile
      @media (max-width: 900px) {
        &::after {
          content: "" !important;
          order: 4 !important;
          width: 100% !important;
          height: 0 !important;
          border-bottom: 1px solid $gray !important;
          background: darken($gray, 10%) !important;
          margin: 10px 0 !important;
          display: block !important;
          mask: linear-gradient(
            90deg,
            transparent 0%,
            $gray 50px,
            $gray calc(100% - 50px),
            transparent 100%
          ) !important;
        }
      }

      td.last-post {
        overflow: hidden !important;
        margin-right: 80px !important;
        @include flex-layout(column, center, start);

        @media (max-width: 900px) {
          order: 5 !important;
          width: 100% !important;
          margin-right: 0 !important;
          padding: 0 !important;
        }

        .title {
          grid-area: title !important;
          @include flex-layout(row, start, center);
          margin-bottom: 5px !important;

          a {
            @include anchor-to-button(1em);

            @media (max-width: 900px) {
              margin-bottom: 10px !important;
            }
          }
        }

        a.user-link {
          display: inline-flex !important;
          align-items: center !important;
          height: 24px !important;
          min-width: 160px !important;
          @include flex-layout(row, start, center);

          @media (max-width: 900px) {
            margin-bottom: 5px !important;
          }
        }

        a.user-link[style*="/avatars/"] {
          padding-left: 30px !important;
        }

        span.date {
          color: $lightgray !important;
          min-width: 120px !important;
          margin: 0 !important;
          @include flex-layout(row, start, center);
        }

        a.go {
          position: absolute !important;
          top: 0 !important;
          right: 0 !important;
          height: 100% !important;
          width: 70px !important;
          background-image: icon("logIn", $lightblue) !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          border-radius: 0 5px 5px 0 !important;
          border-left: 1px solid transparent !important;
          transition: background-color 0.1s ease-in-out;

          @media (max-width: 900px) {
            height: 60px !important;
            width: 60px !important;
            border-radius: 5px !important;
            margin: 0 10px 10px 0 !important;
            top: unset !important;
            bottom: 0 !important;
            border: 1px solid transparent !important;

            @media (max-width: 375px) {
              height: 45px !important;
              width: 45px !important;
            }
          }

          &:hover {
            background-color: $deepgray !important;
            border-left: 1px solid $gray !important;

            @media (max-width: 900px) {
              background-color: $black !important;
              border: 1px solid $lightblue !important;
            }
          }

          img {
            display: none !important;
          }
        }
      }
    }

    // Hide header on mobile
    @media (max-width: 900px) {
      tr.header {
        display: none !important;
      }
    }

    .feed-link {
      @include flex-layout();

      a {
        @include flex-layout();
        padding: 10px 20px !important;
        border-radius: 5px !important;
        text-decoration: none !important;
        text-transform: uppercase !important;
        font-size: 0.9em !important;
        color: $black !important;
        font-weight: bold !important;
        background: $gray !important;
        transition: background 0.15s ease-in-out;

        &:hover {
          background: $blue !important;
        }
      }
    }
  }
}
