@import "../mixins";
@import "../animations";

#content {
  #posts-list {
    form {
      table {
        tr,
        th,
        td {
          border: none !important;
        }

        .posth {
          background: transparent !important;
          height: 30px !important;
          border-radius: 5px !important;

          th {
            position: relative !important;
          }

          td {
            border-radius: 0 5px 5px 0 !important;
            background: $black !important;
          }

          &.admin {
            .user {
              color: $black !important;
              background: darken($orange, 10%) !important;

              &:hover {
                background: $orange !important;
              }
            }

            td {
              background: darken($orange, 42%) !important;
            }

            span {
              color: $orange !important;

              a {
                color: $orange !important;
              }
            }
          }

          .user {
            text-decoration: none !important;
            @include element-full-size();
            @include flex-center(center, center);
            transition: background 0.1s ease-in-out;
            color: $black !important;
            background: $gray !important;
            border-radius: 5px 0 0 5px !important;

            &:hover {
              background: $blue !important;
            }
          }
        }

        .post {
          .post-container {
            .text {
              img.linked-image {
                animation: fadeIn 0.5s ease-in-out;
                filter: brightness(0.5) !important;
                transition: filter 0.1s ease-in-out;

                &:hover {
                  filter: brightness(1) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
