#content {
  #posts-list {
    margin-top: 5px !important;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;

    @media (max-width: 1320px) {
      margin: 0 10px !important;
    }

    h4 {
      noindex {
        @include flex-layout(row);
        gap: 10px !important;

        @media (max-width: 750px) {
          flex-direction: column !important;
          align-items: center !important;

          span {
            text-align: center !important;
          }
        }
      }

      a[href*="/forum/"] {
        @include anchor-to-button();
      }

      i {
        display: none !important;
      }

      #topic-title-block {
        @include flex-layout(row);

        a {
          img {
            display: none !important;
          }

          background-image: icon("editSquare", $black);
          @include rounded-button(0 10px, $orange);
        }
      }
    }

    form {
      table {
        tr,
        th,
        td {
          border: none !important;
        }

        .posth {
          background: transparent !important;
          height: 30px !important;
          min-height: 30px !important;
          border-radius: 5px !important;
          overflow: hidden !important;

          @media (max-width: 480px) {
            display: flex !important;
            flex-direction: column !important;
            width: 100% !important;
            height: 60px !important;
          }

          th {
            position: relative !important;
            min-width: 170px !important;

            @media (max-width: 480px) {
              width: 100% !important;
              height: 30px !important;
            }
          }

          td {
            border-radius: 0 5px 5px 0 !important;
            background: $black !important;

            @media (max-width: 480px) {
              border-top: 1px solid $black !important;
              width: 100% !important;
              height: 30px !important;
            }
          }

          // Default styling for all users (regular users)
          td {
            position: relative !important;
          }

          span:first-child {
            float: unset !important;
            font-size: 0 !important;

            a {
              @include post-header-button($blue);

              @media (max-width: 480px) {
                @include post-header-button($blue, 0);
              }
            }
          }

          span.date {
            display: inline-flex !important;
            height: 100% !important;
            justify-content: center !important;
            align-items: center !important;
          }

          // Admin users override
          &.admin {
            .user {
              color: $black !important;
              background: darken($green, 10%) !important;

              &:hover {
                background: $green !important;
              }
            }

            td {
              background: darken($green, 38%) !important;
            }

            span {
              a {
                @include post-header-button($green);
              }
            }
          }

          .user {
            text-decoration: none !important;
            @include element-full-size();
            @include flex-layout();
            transition: background 0.1s ease-in-out;
            color: $black !important;
            background: darken($blue, 10%) !important;
            border-radius: 5px 0 0 5px !important;

            @media (max-width: 480px) {
              border-radius: 0 !important;
            }

            &:hover {
              background: $blue !important;
            }
          }
        }

        .post {
          @media (max-width: 480px) {
            display: flex !important;
            flex-direction: column !important;
            width: 100% !important;
          }

          th {
            padding: 10px !important;
            width: auto !important;
            @include flex-layout(column, start, center);

            @media (max-width: 480px) {
              width: 100% !important;
              height: 150px !important;
              padding: 10px !important;
            }

            .avatar_big {
              .rang {
                font-size: 9px !important;
                text-transform: uppercase !important;
              }
            }
          }

          .post-container {
            padding: 0 !important;

            @media (max-width: 480px) {
              width: 100% !important;
              padding: 10px !important;
            }

            .text {
              img.linked-image:not([src*="smilies/"]):not(
                  img[src*="avatars/"]
                ) {
                animation: fadeIn 0.5s ease-in-out;
                filter: brightness(0.5) !important;
                transition: filter 0.1s ease-in-out;

                &:hover {
                  filter: brightness(1) !important;
                }
              }

              // Prevents user avatars from being displayed at excessive sizes when formatted in forum post content
              img[src*="avatars/"] {
                max-width: 24px !important;
                border-radius: 3px !important;
                transform-origin: left bottom;
                cursor: pointer !important;
                transition: transform 0.15s ease-in-out !important;

                &:hover {
                  transform: scale(3) !important;
                }
              }
            }

            .edit-block {
              textarea {
                width: 100% !important;
                height: 400px !important;
                font-size: 1.2em !important;
                padding: 10px !important;
                border-radius: 5px !important;
                border: 1px solid $gray !important;
                background-color: $deepgray !important;
                resize: none !important;
                transition: border-color 0.15s ease-in-out,
                  background-color 0.15s ease-in-out !important;

                &:focus {
                  border-color: $blue !important;
                  background-color: $black !important;
                }
              }

              @include send-preview-buttons();
              
              // Send, Preview buttons
              input {
                margin-top: 5px !important;
              }
            }
          }

          .post-opts {
            @include flex-layout(row);
            td {
              @include flex-layout(row);

              // Edit button
              a[onclick*="edit"] {
                background-image: icon("editSquare", $black);
                @include rounded-button(10px, $green);
              }
            }

            // Reply button
            a[onclick*="reply"] {
              background-image: icon("cornerDownLeft", $black);
              @include rounded-button(10px, $orange);
            }
          }
        }
      }
    }
  }
}
