#stats {
  @media (max-width: 1000px) {
    .all-stats-container {
      &_column {
        width: 550px !important;

        @media (max-width: 600px) {
          width: 100% !important;
          margin: 0 10px !important;
        }
      }
    }
  }
}
