@import "./data/variables";

.about {
  width: 80% !important;
  font-size: 12px !important;

  /* all images invert for rules, training, all the day questions, vip accaunt */
  img {
    filter: invert(83%) !important;
  }

  /* about premium menu bg under buy button */
  div[style*="eee"] {
    background-color: $darkgray !important;
  }
}

#about {
  table#regular {
    display: flex !important;
    justify-content: center !important;
  }

  /* rules tab ranges table big border remove */
  table.cars {
    border: 1px solid $gray !important;

    /* rules tab ranges table bg color */
    td {
      background: $darkgray !important;
      color: $white !important;
    }
  }
}

/* about all the day questions headers text color */
#faq .question dt {
  color: $blue !important;
}

/* training hint what's about vocs bg color */
#learning .hint {
  background: $deepgray !important;
}
