// Breakpoint
$tablet-breakpoint: 1100px;

.about {
  // ===== ABOUT =====
  width: 80% !important;
  font-size: 1em !important;

  @media (max-width: 1175px) {
    width: 100% !important;
  }

  h4 {
    text-align: center !important;
  }

  h3 {
    margin: 0 !important;
    color: $black !important;
  }

  dl.menu {
    @include flex-layout();
  }

  a:has(h3) {
    text-decoration: none !important;
    margin: 30px 0 5px !important;

    @include anchor-to-button($font-size: 20px);
  }

  ul,
  ol {
    @media (max-width: 800px) {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  // Competitions table timestamps
  table#regular {
    width: 100%;
    border-collapse: collapse;
    background: transparent !important;
    font-size: 0.8rem;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: $tablet-breakpoint) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
      gap: 5px;
      border-collapse: initial;
      justify-content: center;
    }

    tbody {
      @media (max-width: $tablet-breakpoint) {
        display: contents;
      }
    }

    tr {
      background: $darkgray;

      &:hover {
        background: rgba($lightblue, 0.08);
      }

      @media (max-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        &:hover {
          background: rgba($lightblue, 0.08);
        }

        &:first-child {
          display: none;
        }
      }
    }

    th,
    td {
      padding: 8px 6px !important;
      text-align: center !important;
      border: none !important;
      background: $black !important;
      color: $white !important;
      font-size: 0.8rem !important;

      @media (max-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6px 4px;
        border: none;
        background: $darkgray;
        min-height: 40px;
        flex: 1;
      }
    }

    th {
      background: $black !important;
      color: $lightgray !important;
      font-weight: 500 !important;
      font-size: 0.75rem !important;
      text-transform: uppercase !important;
      letter-spacing: 0.5px !important;
    }

    td {
      &.bordleft {
        @media (max-width: $tablet-breakpoint) {
        }
      }

      &.x3 {
        background: darken($orange, 30%) !important;
        color: lighten($orange, 30%) !important;
      }

      &.x5 {
        background: darken($yellow, 30%) !important;
        color: lighten($yellow, 30%) !important;
      }

      &:nth-child(odd):not([class*="x"]) {
        background: $deepgray !important;
        color: $lightgray !important;
      }
    }
  }

  // Ranking table ranges
  table.cars {
    @include flex-layout();
    width: fit-content !important;
    padding: 10px !important;
    border-radius: 10px !important;
    border: none !important;
    background: $black !important;

    tr {
      td {
        color: $lightgray;
        background: transparent !important;
      }
    }
  }

  // ===== LEARNING =====
  p:has(img[src*="keyboard"]) {
    img {
      @include replace-image($backRussianKeyboard, 546px, 202px);

      @media (max-width: 600px) {
        padding-left: 100% !important;
        width: 100% !important;

        @media (max-width: 500px) {
          height: 150px !important;
        }
      }
    }
  }

  .note {
    color: lighten($green, 20%) !important;
    font-size: 1.2em !important;
    margin: 20px 0 !important;
    padding: 0 !important;
  }

  .hint {
    background: $black !important;
    border-radius: 10px !important;
    width: 80% !important;

    @media (max-width: 1000px) {
      width: 65% !important;

      @media (max-width: 500px) {
        float: unset !important;
        width: 100% !important;
      }
    }
  }

  ol#vocs {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;

    li {
      a {
        @include anchor-to-button($font-size: 1.2em);
      }
    }
  }

  p:has(input[type="button"]) {
    input {
      border: none !important;
      border-radius: 5px !important;
      outline: none !important;
      font-size: 1.2em !important;
      margin: 20px 0 !important;
      padding: 5px 10px !important;
      background: lighten($green, 20%) !important;
      color: $black !important;
      transition: all 0.1s ease-in-out !important;

      &:hover {
        background: lighten($green, 10%) !important;
        color: $black !important;
      }
    }
  }

  // ===== FAQ =====
  .question {
    dt {
      font-weight: bold !important;
      color: lighten($green, 10%) !important;
      margin: 20px 0 !important;
      padding: 0 !important;
    }
  }

  // ===== PREMIUM =====
  .btn_buy_premium_bg {
    background: $darkgray !important;

    .btn_buy_premium {
      background-image: $buyPremium !important;
    }
  }

  img[src*="digramms"] {
    @include replace-image($diagrams, 700px, 170px);

    @media (max-width: 770px) {
      display: none !important;
    }
  }

  img[src*="premium_check"] {
    float: left !important;
    @include replace-image($premiumCheck, 700px, 170px);
    margin-left: 50% !important;
    transform: translateX(-50%) !important;

    @media (max-width: 770px) {
      display: none !important;
    }

    + p {
      float: left !important;
    }
  }

  img[src*="premium_abra"],
  img[src*="view_ts_in_race"],
  img[src*="books"],
  img[src*="stats"] {
    display: none !important;
  }
}
