@import "./data/variables";
@import "./mixins";

$gametype-colors: (
  "normal": $gametype-normal,
  "voc": $gametype-voc,
  "noerror": $gametype-noerror,
  "chars": $gametype-chars,
  "marathon": $gametype-marathon,
  "sprint": $gametype-sprint,
  "abra": $gametype-abra,
  "digits": $gametype-digits,
  "referats": $gametype-referats,
);

#create {
  h3 {
    display: none !important;
  }

  dl {
    @include flex-layout(row, center, start);
    gap: 10px !important;
    margin: 0 !important;
    padding: 0 !important;

    @media (max-width: 1120px) {
      @include flex-layout(column, center, center);
    }

    dd {
      float: unset !important;
      width: 550px !important;
      min-width: 550px !important;
      padding: 0 !important;
      order: 1 !important;

      @media (max-width: 1120px) {
        order: 0 !important;

        @media (max-width: 580px) {
          width: calc(100% - 20px) !important;
          min-width: calc(100% - 20px) !important;
        }
      }

      .buttons {
        display: flex !important;
        justify-content: space-between !important;
        margin: 0 !important;
        padding: 10px 0 !important;
        gap: 10px !important;

        @media (max-width: 580px) {
          @include flex-layout(column, center, center);
        }

        input {
          transition: background 0.15s ease-out !important;
          padding: 0 !important;
          margin: 0 !important;
          width: 50% !important;
          height: 50px !important;
          border-radius: 5px !important;

          @media (max-width: 580px) {
            width: 100% !important;
            min-width: 300px !important;
          }

          &.create_game {
            background: $blue $createNormal no-repeat center !important;

            &:hover {
              background: $lightblue $createNormal no-repeat center !important;
            }
          }

          &.save_game {
            background: $blue $saveNormal no-repeat center !important;

            &:hover {
              background: $lightblue $saveNormal no-repeat center !important;
            }
          }
        }
      }

      .params {
        background-color: transparent !important;
        border: 1px solid $gray !important;

        .rc {
          @media (max-width: 580px) {
            padding: 10px !important;
          }

          h4 {
            font: 700 1.1em "Montserrat", sans-serif !important;
          }

          select#type {
            @media (max-width: 580px) {
              width: calc(100% - 20px) !important;
            }
          }

          span#players_range {
            @media (max-width: 580px) {
              font-size: 0 !important;

              select {
                width: calc(50% - 20px) !important;
              }
            }
          }

          .note {
            color: $lightgray !important;
          }

          #qual-block {
            label {
              color: $gametype-qual !important;
            }
          }
        }
      }
    }

    dt {
      margin: 0 !important;
      width: 100% !important;
      order: 0 !important;
      border-radius: 5px !important;
      overflow: hidden !important;

      @media (max-width: 1120px) {
        width: calc(100% - 20px) !important;
      }

      .gametypes {
        // Generate classes dynamically using @each loop
        @each $type, $color in $gametype-colors {
          .gametype-#{$type} {
            h4 {
              color: #{$color} !important;
              font: 700 1.4em "Montserrat", sans-serif !important;
            }
          }
        }

        tr {
          // Border for all rows except the last one
          &:not(:last-child) {
            border-bottom: 1px solid darken($gray, 20%) !important;
          }

          // Active and hover states
          &.active,
          &:hover {
            background-color: $black !important;
          }

          // Nested elements styling
          .note {
            color: $lightgray !important;

            @media (max-width: 580px) {
              display: none !important;
            }
          }

          td {
            border: none !important;
            padding: 20px 5px !important;
            height: fit-content !important;
          }

          // Stylize previmium abra gametype
          &.gametype-abra {
            #premium_abra {
              color: darken($gametype-abra, 10%) !important;

              label {
                background: transparent !important;
                color: $gametype-abra !important;
              }
            }
          }

          // Float select and note element in voc gametype on small screens
          &.gametype-voc {
            @media (max-width: 580px) {
              h4 {
                @include flex-layout(column, start, start);
                gap: 5px !important;

                select {
                  width: 280px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
