@import "./data/variables";

#create {
  h3 {
    margin: 0 5px 15px !important;
  }

  dd {
    width: 525px !important;
  }

  *:not(select) {
    padding: 2px !important;
  }

  .buttons {
    display: flex !important;
    justify-content: space-between !important;
    gap: 10px !important;
    margin-top: 8px !important;

    input {
      transition: background 0.15s ease-out !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 50% !important;
      height: 50px !important;
      border-radius: 5px !important;

      &.create_game {
        background: $blue $createNormal center !important;

        &:hover {
          background: $lightblue $createNormal center !important;
        }
      }

      &.save_game {
        background: $blue $saveNormal center !important;

        &:hover {
          background: $lightblue $saveNormal center !important;
        }
      }
    }
  }

  dd {
    .params {
      background-color: transparent !important;
      border: 1px solid $gray !important;
    }
  }
}
