@import "./data/variables";

.fuel-root {
  width: 100% !important;

  h2 {
    text-align: center !important;
    @include flex-layout(row);
    gap: 10px !important;
    margin: 0 0 20px !important;

    @media (max-width: 440px) {
      flex-direction: column !important;
      align-items: center !important;
    }

    a {
      margin: 0 !important;
      color: $orange !important;
      background: darken($orange, 30%) !important;
      padding: 5px 10px !important;
      border-radius: 5px !important;
      transition: background 0.15s ease-in-out, color 0.15s ease-in-out !important;

      &.active,
      &:hover {
        color: $yellow !important;
        background: darken($yellow, 30%) !important;
      }
    }
  }

  .month {
    button {
      padding: 10px !important;
      text-decoration: none !important;
    }
  }

  .fuel-content {
    background-color: $darkgray !important;
    position: relative !important;
    padding: 0 !important;
    margin: 20px 0 0 !important;

    .container {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      display: flex !important;

      @media (max-width: 1000px) {
        flex-direction: column !important;
        align-items: center !important;
      }

      // Donation button
      .left-block {
        order: 0 !important;

        button.tank-up {
          background-image: $fuelButton !important;
        }

        @media (max-width: 1000px) {
          order: 1 !important;
          margin-bottom: 40px !important;
          width: 100% !important;
          @include flex-layout();
        }

        .my {
          color: $lightgray !important;
          position: relative !important;

          b {
            color: $yellow !important;
          }

          a {
            @include anchor-to-button($font-size: 12px, $width: 100%);
            margin: 10px 0 0 !important;
            position: absolute !important;
          }
        }
      }

      // Donation arrow indicator
      .indicator {
        order: 1 !important;

        @media (max-width: 1000px) {
          order: 0 !important;

          @media (max-width: 550px) {
            display: none !important;
          }
        }

        &.vote {
          margin: 0 auto !important;

          @media (max-width: 1000px) {
            margin: 0 0 40px !important;

            @media (max-width: 770px) {
              transform: scale(0.8) !important;

              @media (max-width: 666px) {
                transform: scale(0.7) !important;
              }
            }
          }

          .vote-display-mode {
            right: 50% !important;
            transform: translateX(50%) !important;

            a {
              padding: 5px 10px !important;
              color: $orange !important;
              background: darken($orange, 30%) !important;
              border: none !important;
              border-radius: 3px !important;
              font-weight: normal !important;
              transition: background 0.15s ease-in-out, color 0.15s ease-in-out !important;

              &.active,
              &:hover {
                color: $yellow !important;
                background: darken($yellow, 30%) !important;
              }
            }
          }
        }
      }

      // Donation goal
      .right-block {
        order: 2 !important;

        .goal-list {
          .goal {
            background: $black !important;

            h4 {
              color: lighten($orange, 40%) !important;
              background-color: darken($orange, 10%) !important;

              .remained {
                color: lighten($orange, 30%) !important;
              }
            }
          }

          .gradient-top,
          .gradient-bottom {
            display: none !important;
          }
        }
      }
    }
  }

  .faq {
    margin: 20px !important;
  }

  .thankyou {
    margin: 60px 0 0 !important;
    padding: 0 !important;
    background-color: $darkgray !important;
    position: relative !important;

    .container {
      width: 100% !important;
      color: lighten($green, 20%) !important;

      h4 {
        color: $yellow !important;
        text-align: center !important;
        text-transform: uppercase !important;
        font: 700 2em "Montserrat", sans-serif !important;

        &::after {
          content: "" !important;
          display: block !important;
          width: auto !important;
          height: 102px !important;
          background: transparent
            url("https://klavogonki.ru/img/smilies/firework.gif") no-repeat
            center !important;
        }
      }

      .row {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;

        @media (max-width: 1050px) {
          grid-template-columns: repeat(3, 1fr) !important;

          @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr) !important;

            @media (max-width: 550px) {
              grid-template-columns: 1fr !important;
            }
          }
        }

        &::before {
          display: none !important;
        }

        .col-xs-3 {
          width: 100% !important;
        }

        .user {
          a {
            text-decoration: none !important;
            color: $orange !important;
            transition: color 0.15s ease-in-out !important;

            &:hover {
              color: lighten($orange, 15%) !important;
            }
          }

          .avgmore {
            background: $orange !important;

            a {
              color: $black !important;
            }

            .note {
              color: $darkgray !important;
            }
          }
        }
      }
    }
  }
}
