#content .menu,
#content .content-col {
  .trimenu {
    user-select: none !important;
    font: 700 11px "Montserrat", sans-serif !important;
    text-transform: uppercase !important;
    display: inline-flex !important;
    margin: 10px 0 !important;

    @media (max-width: 380px) {
      flex-direction: column !important;
      border-radius: 5px !important;
    }

    li {
      margin: 0 !important;
      padding: 0 15px !important;
      height: 45px !important;
      width: fit-content !important;
      float: none !important;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      background: $gray !important;
      border-right: 1px solid $darkgray !important;
      transition: background 0.15s ease !important;

      @media (max-width: 450px) {
        padding: 0 10px !important;
        height: 35px !important;
        font-size: 10px !important;

        @media (max-width: 380px) {
          width: 280px !important;
          border-right: none !important;
          border-radius: 0 !important;
        }
      }

      // Garbage button with empty content
      &.dummy {
        display: none !important;
      }

      &.active {
        background: darken($blue, 5%) !important;
        color: $black !important;
      }

      &:hover:not(.active) {
        background: lighten($blue, 5%) !important;
        cursor: pointer !important;
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(4) {
        border-radius: 0 5px 5px 0;
        border-right: none !important;
      }

      a {
        text-decoration: none !important;
        height: 100% !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        color: $black !important;
      }

      sub {
        position: absolute !important;
        top: 10px !important;
        font-size: 0.8em !important;
        color: $darkgray !important;

        @media (max-width: 450px) {
          top: 8px !important;
          font-size: 0.7em !important;
        }
      }
    }
  }
}
