.ownbanner-back,
#reformal_tab,
#footer,
.feedback,
#test {
  display: none !important;
}
// Remove background images from container corners
.t,
.b,
.l,
.r,
.tl,
.tr,
.bl,
.br {
  display: none !important;

  #top &,
  #params &,
  .params &,
  #invite &,
  .gamelist-create &,
  .comments &,
  .info &,
  #typeblock & {
    display: initial !important;
    background: none !important;
  }
}
