.ownbanner-back,
#reformal_tab,
#footer,
.feedback,
#test,
#playads {
  display: none !important;
}
// Remove background images from container corners
.t,
.b,
.l,
.r,
.tl,
.tr,
.bl,
.br {
  background: none !important;
}

// Disable fully images from container corners
// KlavoTools BBTools emoticons panel
#table_smiles,
// Klavogonki popup message (newrecord, shadow, howtoplay, competition_alert, popalert, popconfirm)
.popup_message {
  .t,
  .b,
  .l,
  .r,
  .tl,
  .tr,
  .bl,
  .br {
    display: none !important;
  }
}
