@import "mixins";
@import "./data/variables";

#content {
  #index {
    .firstrow {
      clear: none !important;
      float: none !important;
      width: 100% !important;

      // News block
      .col1 {
        display: none !important;
      }
      // Hide game buttons images
      .col2,
      .col3,
      .col4 {
        width: 100% !important;

        a:not(.title),
        p {
          display: none !important;
        }
        a.title {
          text-decoration: none !important;
          color: $white !important;
          font: 500 1.5em "Montserrat", sans-serif !important;
        }
      }
      // Fast game
      .col2 {
      }
      // Choose game
      .col3 {
      }
      // Create game
      .col4 {
      }
    }
  }
}
