@import "./data/variables";

// Layout and General Styles
/* max width 1300px */
@media only screen and (max-width: 1300px) {
  .minwidth_container {
    width: 100% !important;
  }
}

$space: 100px;

/* global */
.minwidth {
  min-width: unset !important;
}

/* head */
#head {
  .minwidth_holyhack {
    display: flex;
    justify-content: center !important;

    .minwidth_container {
      width: $container !important;
    }
  }
}

/* content top space */
#content {
  padding: 0 !important;

  .minwidth_holyhack {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .minwidth_container {
    width: $container;
  }

  .minwidth_holyhack {
    position: absolute !important;
    top: $space !important;

    @media (max-width: 1000px) {
      top: $space + 50px !important;
    }
  }
}

/* Conditional positioning when userpanel not exists */
body:not(:has(.userpanel)) #content .minwidth_holyhack {
  top: $space - 40px !important;
}
