@import "./data/variables";
@import "./mixins";

/* LOGIN BUTTON */

/* Login block styles */
.login-block {
  z-index: 100 !important;
  position: fixed !important;
  @include flex-layout();
  height: 45px !important;
  width: 45px !important;
  border-radius: 0 0 0 5px !important;
  padding: 0 !important;
  color: transparent !important;
  right: 0 !important;
  top: 0 !important;
  background: $gray !important;
  transition: background 0.15s ease-in-out !important;

  &:hover {
    background: $blue !important;
  }

  #login-link {
    cursor: pointer !important;
    padding-left: unset !important;
    background: transparent icon("key", $black) no-repeat center / 24px !important;
    text-decoration: none !important;
    height: 45px !important;
    position: absolute !important;
    width: 45px !important;

    span {
      display: none !important;
    }
  }

  .error {
    color: $red !important;
    margin-right: 0 !important;
    position: absolute !important;
    top: 0px !important;
  }
}

/* LOGIN FORM */

/* Login form popup */
#login-form {
  position: fixed !important;
  z-index: 150 !important;
  height: 100vh !important;
  width: unset !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.5) !important;

  table {
    tbody {
      tr {
        td {
          &.c {
            background: $gray !important;
            border-radius: 5px !important;
            padding: 0 !important;
            height: 250px !important;
            width: 250px !important;

            form {
              padding: 0 !important;

              dl {
                margin: 0 !important;
                padding: 0 !important;
                width: 100% !important;

                &#r_username {
                  dt {
                    label {
                      display: none !important;
                    }
                  }

                  dd {
                    margin: 0 !important;
                    padding: 0 !important;
                    width: 100% !important;

                    #username {
                      @include login-input-field(icon("user", $lightblue));
                      border-bottom: 1px solid $gray !important;
                      font: 500 1.1em "Montserrat", sans-serif !important;
                    }
                  }
                }

                &#r_password {
                  dt {
                    label {
                      display: none !important;
                    }
                  }

                  dd {
                    margin: 0 !important;
                    padding: 0 !important;
                    width: 100% !important;

                    &.field {
                      #password {
                        @include login-input-field(icon("lock", $lightblue));
                        font: 500 1.1em "Montserrat", sans-serif !important;
                      }
                    }
                  }
                }

                &#r_login_form_submit {
                  dd {
                    margin: 10px 0 !important;
                    padding: 0 !important;
                    width: 100% !important;

                    #login_form_submit {
                      width: 90% !important;
                      height: 45px !important;
                      border: none !important;
                      border-radius: 5px !important;
                      background-color: $deepgray !important;
                      color: $white !important;
                      text-transform: uppercase !important;
                      transition: background-color 0.15s ease-in-out !important;
                      display: block !important;
                      margin: 0 auto !important;
                      font: 600 1.1em "Montserrat", sans-serif !important;

                      &:hover {
                        color: $white !important;
                        background-color: $black !important;
                      }
                    }
                  }
                }

                // Navigation dl (the one without id)
                &:last-child {
                  dd {
                    margin: 0 !important;
                    padding: 0 !important;
                    width: 100% !important;

                    .navigation {
                      @include flex-layout(row);
                      width: 100% !important;

                      li {
                        margin-bottom: 0 !important;

                        a {
                          border-radius: 50% !important;
                          background-color: $deepgray !important;
                          background-position: center !important;
                          background-repeat: no-repeat !important;
                          background-size: 18px !important;
                          display: block !important;
                          width: 35px !important;
                          height: 35px !important;
                          font-size: 0 !important;
                          transition: background-color 0.15s ease-in-out !important;

                          &:hover {
                            background-color: $black !important;
                          }

                          &[href="/register/"] {
                            margin-right: 10px !important;
                            background-image: icon("userPlus", $white) !important;
                          }

                          &[href="/remind/"] {
                            margin-left: 10px !important;
                            background-image: icon("userCheck", $white) !important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .close {
    opacity: 1 !important;
    top: 0 !important;
    right: 0 !important;
    height: 45px !important;
    width: 45px !important;
    background-color: $gray !important;
    background-image: icon("close", $black) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: background-color 0.15s ease-in-out !important;
    border-radius: 0 0 0 5px !important;

    &:hover {
      background-color: $blue !important;
    }

    ins {
      display: none !important;
    }
  }
}
