@import "variables";

#head {
  &.green-back {
    background: transparent !important;
  }
  .right {
    position: relative !important;
    width: 100% !important;
    padding: 0 !important;
    .menu {
      width: auto !important;
      position: fixed !important;
      top: 45px !important;
      right: 50% !important;
      transform: translateX(50%) !important;
      display: flex !important;
      justify-content: center !important;
      flex-direction: row-reverse !important;
      padding: 0 !important;
      margin: 0 !important;
      transition: all 0.2s !important;
      opacity: 0.5 !important;
      z-index: 110 !important;
      &:hover {
        opacity: 1 !important;
      }
      a {
        width: 100px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: 12px !important;
        font-family: Arial !important;
        text-transform: uppercase !important;
        text-decoration: none !important;
        color: $black !important;
        background: $middlegray !important;
        border-right: 1px solid $darkgray !important;
        border-bottom: 1px solid transparent !important;
        transition: all 0.2s !important;
        &:hover,
        &.active {
          text-decoration: none !important;
          background: $middlegray !important;
          color: $black !important;
          border-right: 1px solid $darkgray !important;
          border-bottom: 1px solid $white !important;
          transition: all 0.2s !important;
          padding: 0 !important;
          margin: 0 !important;
          filter: brightness(1.1) !important;
        }
        &[href="/wiki/"] {
          display: none !important;
        }
      }
    }
  }
}

.bar {
  background: none !important;
  border: none !important;
}