@import "variables";
@import "base";
@import "cars";
@import "userPanel";
@import "logo";
@import "login";
@import "mainMenu";
@import "modalDialogue";
@import "calendar";
@import "profile";
@import "vocabularies";
@import "recentGames";
@import "home";
@import "gamelist";
@import "gametypes";
@import "notifications";
@import "chatlogs";
@import "chat";
@import "race";
@import "forum";
@import "formatButtons";
@import "donate";
@import "about";

@-moz-document domain("klavogonki.ru") {
  /* Custom fonts */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

  #create .buttons {
    display: flex !important;
    justify-content: space-between !important;
  }

  #create .buttons input {
    transition: all 0.5s !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 235px !important;
    height: 50px !important;
  }

  #create .buttons input.create_game {
    background: var(--createNormal) !important;
    filter: brightness(0.8) !important;
  }

  #create .buttons input.create_game:hover {
    background-position: unset !important;
    filter: brightness(0.8) hue-rotate(180deg) !important;
  }

  #create .buttons input.save_game {
    background: var(--saveNormal) !important;
    filter: brightness(0.8) !important;
  }

  #create .buttons input.save_game:hover {
    background-position: unset !important;
    filter: brightness(0.8) hue-rotate(180deg) !important;
  }

  #create * {
    padding: 2px !important;
  }

  #create dd .params {
    background-color: transparent !important;
    border: 1px solid var(--middlegray) !important;
  }

  /* vocs */
  /* main search container rules */
  /* search style */
  .search input {
    border: none !important;
  }

  .search input,
  .search input:hover[name="text"],
  .yandexform input[name="text"] {
    background: var(--deepgray) !important;
    border-top: 1px solid var(--middlegray) !important;
    border-bottom: 1px solid var(--middlegray) !important;
    font-size: 20px !important;
    height: 50px !important;
    padding: 0 20px !important;
    width: 100% !important;
  }

  .search input:focus,
  .search input:focus[name="text"],
  .yandexform input[name="text"]:focus {
    background: var(--deepgray) !important;
    border-top: 1px solid var(--blue) !important;
    border-bottom: 1px solid var(--blue) !important;
    font-size: 20px !important;
    height: 50px !important;
    padding: 0 20px !important;
    width: 100% !important;
  }

  /* yandex form main search container */
  .yandexform {
    padding: 0 !important;
    width: 100% !important;
  }

  /* yandex search width */
  .yandexform input[name="text"] {
    width: 100% !important;
    border: none !important;
  }

  /* yandex search btn */
  .yandexform input[type="submit"] {
    display: none !important;
  }

  /* yandex form loading */
  div[style*="/iframe/loader__progress.gif"] {
    filter: hue-rotate(180deg) !important;
  }

  /* yandex form container everything bg invert */
  iframe[src*='http://yandex.ru']
  {
    filter: invert(90%) !important;
  }

  /* search base */
  .search {
    padding: 0 !important;
    width: 100% !important;
    background: none !important;
    border: none !important;
  }

  /* vocs list search button rm */
  .voclist input[type="submit"] {
    display: none !important;
  }

  /* search vocs search bar 100 % width */
  div[style*="margin-right: 53px"] {
    margin-right: 0 !important;
  }

  /* vocs rating main vertical long container */
  .voclist td.popularity {
    background: none !important;
  }

  /* voc list table two columns */
  body .voclist table {
    margin-bottom: 10px !important;
    display: block !important;
  }

  body .voclist table tbody {
    display: block !important;
    width: 100% !important;
    column-count: 3 !important;
    column-gap: 5px !important;
    align-items: center !important;
  }

  body .voclist table tbody tr {
    padding-left: 10px !important;
    display: block !important;
    -webkit-column-break-inside: avoid;
    /* chrome, safari, opera */
    page-break-inside: avoid;
    /* firefox */
    break-inside: avoid;
    /* ie 10+ */
  }

  body .voclist table tbody tr td.title {
    width: 60% !important;
    display: inline-block !important;
  }

  body .voclist table tbody tr td.symbols,
  body .voclist table tbody tr td.popularity {
    width: 18% !important;
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body .voclist table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05) !important;
  }

  body .voclist table tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.3) !important;
  }

  /* vocs every voc item border bottom */
  .voclist table td {
    border-bottom: none !important;
  }

  /* vocs author link color */
  .voclist table .title .author a {
    color: var(--blue) !important;
  }

  .voclist table .title .author a:hover {
    color: var(--lightblue) !important;
  }

  /* vocs text block border color */
  .vocview-block .words {
    border: 1px solid var(--middlegray) !important;
    width: 100% !important;
    height: 700px !important;
  }

  .pages .ctrls {
    margin: 0 !important;
    display: flex !important;
  }

  .pages .ctrl {
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
  }

  .pages .ctrl a {
    display: inline-block !important;
    height: 30px !important;
    background-color: var(--middlegray) !important;
    text-decoration: none !important;
    color: var(--darkgray) !important;
    padding: 0 !important;
    width: 100% !important;
    text-align: center !important;
    transition: all 0.1s !important;
  }

  /* forward */
  .pages .ctrl a:nth-child(1) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='lightgray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-right'%3E%3Cpolyline points='13 17 18 12 13 7'%3E%3C/polyline%3E%3Cpolyline points='6 17 11 12 6 7'%3E%3C/polyline%3E%3C/svg%3E") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  /* backward */
  .pages .ctrl a:nth-child(2) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='lightgray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-left'%3E%3Cpolyline points='11 17 6 12 11 7'%3E%3C/polyline%3E%3Cpolyline points='18 17 13 12 18 7'%3E%3C/polyline%3E%3C/svg%3E") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .pages .ctrl a:hover {
    background-color: var(--blue) !important;
    transition: all 0.1s !important;
  }

  .pages .ctrl.na {
    display: none !important;
  }

  .pages .page,
  .pages .selected {
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0 !important;
    font-size: 13px !important;
    height: 30px !important;
    width: 30px !important;
    display: inline-flex !important;
  }

  /* vocs page active button */
  .pages .selected {
    background: var(--white) !important;
    color: var(--darkgray) !important;
  }

  .pages .page a {
    display: inline-flex !important;
    width: 30px !important;
    height: 30px !important;
    justify-content: center !important;
    align-items: center !important;
    color: var(--darkgray) !important;
    padding: 0 !important;
    background: var(--middlegray) !important;
    text-decoration: none !important;
    transition: all 0.1s !important;
    margin-top: 0 !important;
  }

  .pages .page:last-child {
    position: relative !important;
    left: -4px !important;
  }

  .pages .page a:hover {
    background: var(--blue) !important;
    transition: all 0.1s !important;
  }

  /* vocs lett menu rm margin */
  .left-col ul.left-menu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 150px !important;
    margin: 0 !important;
  }

  /* set 100% width menu li */
  .left-col ul.left-menu li {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 20px !important;
  }

  /* vocs span padding left rm */
  .left-col ul.left-menu li.active {
    width: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 20px !important;
  }

  .left-col ul.left-menu li a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 20px !important;
    width: 100% !important;
    text-decoration: none !important;
    background: var(--darkgray) !important;
    color: var(--blue) !important;
    transition: all 0.1s !important;
  }

  .left-col ul.left-menu li a:hover {
    background: var(--blue) !important;
    color: var(--darkgray) !important;
  }

  /* vocs left panel rm shit bg images from active links tabs and set color */
  .left-col ul.left-menu li.active,
  .left-col ul.left-menu li.active span {
    background: var(--blue) !important;
  }

  /* vocs left panel set color to active links tabs titles */
  .left-col ul.left-menu li.active span {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--darkgray) !important;
  }

  /* vocs type of name color && do lighter */
  .voclist table .symbols strong {
    color: var(--white) !important;
    font-weight: lighter !important;
  }

  #toplist table {
    width: 100% !important;
  }

  /* toplist offset down && offset up color */
  #toplist td.offset_up {
    color: #61ff39 !important;
  }

  #toplist td.offset_down {
    color: #fc2727 !important;
  }

  /* rm info panel block */
  .columns .right-col {
    display: none !important;
  }

  /* rating page info panel */
  .columns .info {
    opacity: 0.2 !important;
    background: var(--deepgray) !important;
    border-bottom: 1px solid var(--blue) !important;
    transition: 0.1s !important;
  }

  .columns .info:hover {
    opacity: 1 !important;
  }

  /* toplist styles */
  #toplist table th,
  #toplist table tr,
  #toplist table td {
    border: none !important;
    background: var(--darkgray) !important;
  }

  /* toplist header */
  #toplist th,
    /* toplist body */
    #toplist td.offset_up,
    #toplist td.offset_down,
    #toplist tr.other>td.pos,
    #toplist tr.other>td.highlight,
    #toplist tr.other>td.competitions,
    #toplist tr.other>td.bonuses,
    #toplist tr.other td:nth-child(5),
    #toplist tr.other td:nth-child(6) {
    text-align: center !important;
    vertical-align: middle !important;
  }

  /* toplist separate */
  #toplist table tr.other:nth-child(2n) {
    filter: brightness(0.8) !important;
  }

  /* toplist nickname border bottom none */
  #toplist .name a {
    color: var(--white) !important;
    border-bottom: none !important;
    border: 1px solid var(--middlegray) !important;
    padding: 12px !important;
    display: flex !important;
    background: transparent !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  #toplist .name a:hover {
    color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    background: var(--deepgray) !important;
  }

  /* toplist correct number position */
  #toplist table .pos {
    text-align: center !important;
  }

  /* toplist col left */
  #toplist .left-col h4 {
    display: none !important;
  }

  #toplist .left-col {
    padding: 0 !important;
  }

  #toplist ul.mode {
    margin: 0 !important;
  }

  #toplist ul.mode li {
    margin-bottom: -1px !important;
    width: 100% !important;
  }

  /* toplist col left active span */
  #toplist ul.mode li.active {
    display: flex !important;
    height: 20px !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background: var(--blue) !important;
  }

  .vocview-block #toplist dt ul.mode li.active {
    padding: 0 !important;
  }

  body #toplist .gametype-voc a[href*="/vocs/"] {
    display: none !important;
  }

  #toplist ul.mode li.active span {
    padding: 0 !important;
    margin-right: 0 !important;
    color: var(--deepgray) !important;
    background: var(--blue) !important;
  }

  /* toplist col left dicktionary links laka buttons */
  #toplist .mode li a {
    border: 1px solid transparent !important;
    display: flex !important;
    height: 20px !important;
    width: 100% !important;
    text-decoration: none !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #toplist .mode li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  #toplist .mode li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }

  #toplist .mode li a[class="gametype-voc"],
  #toplist .mode li a[href*="/top/rating/archive"],
  #toplist .mode li a[href*="/top/rating/overall"] {
    color: var(--middlegray) !important;
  }

  #toplist .mode li a[class="gametype-voc"]:hover,
  #toplist .mode li a[href*="/top/rating/archive"]:hover,
  #toplist .mode li a[href*="/top/rating/overall"]:hover,
  #toplist .mode li a:hover {
    color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    background: var(--deepgray) !important;
  }

  /* wiki */
  a#top {
    border: none !important;
  }

  /* main blocks bg color */
  div#content {
    /* color for max everything text */
    color: var(--white) !important;
    background: var(--darkgray) !important;
    /* border main conteint && navigation separator */
    border: none !important;
    /* padding none */
    padding: 0 !important;
    margin-top: 50px !important;
  }

  /* inner main blocks bg color */
  #mw-content-text table,
  #mw-content-text td {
    background: var(--darkgray) !important;
  }

  /* inner main blocks headers bg color */
  #mw-content-text th {
    background: var(--deepgray) !important;
  }

  /* remove inner main blocks unnecessary headers bg images and bg color */
  #mw-content-text table h2,
  #mw-content-text table div {
    background: none !important;
  }

  /* color to white what is still not colored */
  #mw-content-text table div,
  #mw-content-text td {
    color: var(--white) !important;
  }

  /* nav menu dropdown menu text color */
  #mw-panel.collapsible-nav .portal h3 a,
  #mw-panel.collapsible-nav .portal.collapsed h3 a {
    color: var(--white) !important;
  }

  /* nav menu links color */
  div#mw-panel div.portal div.body ul li a {
    color: var(--blue) !important;
  }

  div#mw-panel div.portal div.body ul li a:hover {
    color: var(--lightblue) !important;
  }

  /* wiki textarea border none && set border top bottom */
  #wptextbox1 {
    border: none;
    border-bottom: 1px solid var(--middlegray) !important;
    border-top: 1px solid var(--middlegray) !important;
  }

  /* wiki logo */
  #p-logo {
    left: 2.5em !important;
    top: -8em !important;
  }

  #p-logo a {
    display: block !important;
    box-sizing: border-box !important;
    width: 100px !important;
    height: 100px !important;
    background: var(--logo) !important;
    padding-left: 100px !important;
  }

  /* wiki header background color */
  div#mw-head {
    background: var(--darkgray) !important;
  }

  .catlinks {
    background-color: var(--darkgray) !important;
  }

  div.vectortabs ul li {
    background: none !important;
    border: none !important;
  }

  div.vectortabs li a {
    color: var(--blue) !important;
  }

  div.vectortabs li.selected {
    background: none !important;
    background-color: var(--blue) !important;
    color: var(--deepgray) !important;
  }

  div#simplesearch {
    border: 1px solid var(--middlegray) !important;
    background: var(--darkgray) !important;
  }

  div#simplesearch input {
    color: var(--white) !important;
  }

  #pagehistory li.selected,
  #pagehistory li {
    background-color: var(--deepgray) !important;
    border: none !important;
  }

  .flaggedrevs-color-1 {
    background-color: var(--darkgray) !important;
    border-bottom: 1px solid var(--middlegray) !important;
  }

  /* wiki login form buttons && inputs */
  input.logintext,
  input.loginpassword {
    color: var(--white) !important;
    border: 1px solid var(--middlegray) !important;
    background: var(--darkgray);
    box-shadow: none !important;
  }

  input.logintext:focus,
  input.loginpassword:focus,
  input.logintext:hover,
  input.loginpassword:hover {
    color: var(--white) !important;
    border: 1px solid var(--blue) !important;
    background: var(--darkgray) !important;
    box-shadow: none !important;
  }

  .editoptions {
    background-color: var(--deepgray);
    border: none !important;
  }

  table.flaggedrevs_editnotice,
  table.flaggedrevs_viewnotice {
    border: none !important;
  }

  #content pre,
  #editpage-copywarn2 {
    background-color: var(--deepgray) !important;
    border: none !important;
    color: var(--white) !important;
  }

  /* wiki end */
  /* race hover nickname popup box bg color && border */
  .popup-box .c {
    background: var(--deepgray) !important;
    border: 1px solid var(--middlegray) !important;
    padding: 20px !important;
  }

  /* race hover nickname appear popupx box with statistics */
  /* remove all img shit around this popup */
  .popup-box .l,
  .popup-box .r,
  .popup-box .t,
  .popup-box .b,
  .popup-box .tr,
  .popup-box .tl,
  .popup-box .bl,
  .popup-box .br {
    display: none !important;
  }

  /* klavo events */
  /* klavo events container width */
  #content_KE .list {
    width: var(--container) !important;
    margin: 0 auto !important;
  }

  /* klavo evets past */
  #content_KE .list .item,
  #content_KE .list .item.past {
    background: var(--darkgray) !important;
  }

  #content_KE .list .item td {
    border-bottom: 1px solid var(--middlegray) !important;
    border-top: 1px solid var(--middlegray) !important;
  }

  /* klavo evets will be */
  #content_KE .list .item.soon {
    background: var(--deepgray) !important;
  }

  /* register */
  /* register note default, error, ok */
  #register .big {
    background: var(--orange) !important;
    border: none !important;
  }

  #register .big[style*="error.gif"] {
    background: red none !important;
  }

  #register .big[style*="ok.gif"] {
    background: green none !important;
  }

  /* register input */
  #register_login,
  #register_pass,
  #register_confirmpass,
  #register_email {
    color: var(--white) !important;
    background: #3b3b3b !important;
  }

  #register_login:focus,
  #register_pass:focus,
  #register_confirmpass:focus,
  #register_email:focus {
    color: var(--white) !important;
    background: var(--deepgray) !important;
  }

  /* register btn on hover */
  #register_submit_button:hover {
    cursor: pointer !important;
  }

  /* register txt note color */
  #register .note {
    color: var(--white) !important;
  }

  .gametype-sign .gametype-sign.qual {
    box-sizing: border-box !important;
    height: 48px !important;
    width: 48px !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    background: var(--qualificationNoneHover) !important;
    transition: background 0.2s !important;
    z-index: 10 !important;
    cursor: pointer !important;
  }

  .gametype-sign .gametype-sign.qual:hover {
    background: var(--qualificationHover) !important;
  }






  /* MEDIA QUERIES */

  /* min width 1600px (fix best menu no-error icon) */
  @media only screen and (min-width: 1600px) {
    body .sign-noerror {
      display: inline-block !important;
    }
  }

  /* min width 1630px */
  @media only screen and (max-width: 1627px) {
    body .voclist .left-col {
      left: 0 !important;
      position: relative !important;
      flex-direction: row !important;
      width: 100% !important;
      justify-content: space-around !important;
    }

    .pages {
      bottom: unset !important;
      top: 85px !important;
      transform: none !important;
    }
  }

  /* max width 1300px */
  @media only screen and (max-width: 1300px) {
    body #play-right {
      transform: translate(-90%) !important;
      opacity: 0 !important;
    }

    body #play-right:hover {
      transform: translate(0) !important;
      opacity: 1 !important;
    }

    .minwidth,
    .minwidth_holyhack,
    .minwidth_container {
      max-width: 100% !important;
      min-width: 100% !important;
      width: 100% !important;
    }

    body .voclist table tbody {
      column-count: 2 !important;
    }
  }

  @media only screen and (max-width: 750px) {
    /* remove speed and errors panel */
    #speedpanel-canvas,
    #speed-label,
    #errors-label {
      display: none !important;
    }

    /* realign speedpanel rest items */
    #status table {
      display: flex !important;
      justify-content: center !important;
    }

    #status table tr:nth-child(1) {
      width: 100% !important;
    }

    .gameblock,
    #typeblock,
    .player {
      width: 90vw !important;
    }

    .player {
      overflow: hidden !important;
    }

    #inputtext {
      width: 100% !important;
    }

    #errors_tab {
      float: left !important;
      width: 50% !important;
      padding: 5px !important;
    }

    #errorwork {
      float: right !important;
      width: 50% !important;
      padding: 5px !important;
      text-align: center !important;
    }

    .player .rating {
      font-size: 12px !important;
      margin-right: 8px !important;
    }

    .player .rating .delresult {
      left: 75px !important;
      margin: 0 !important;
    }

    .player .rating .stats {
      left: 115px !important;
    }

    .modal2 .modal2-dialog {
      width: 100% !important;
    }
  }

  /* play with tablet */
  @media only screen and (max-width: 1075px) {
    .profile-root .profile-header .username .history .history-popup {
      top: 55px !important;
    }

    #profile-index .bio {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }

    #profile-index .bio .content {
      width: 530px !important;
    }

    #create dd:nth-child(1) {
      float: none !important;
      width: 100% !important;
    }

    #create .buttons {
      justify-content: space-around !important;
    }

    #create dt {
      margin: 0 !important;
    }

    .pages {
      top: 140px !important;
    }

    #posts-list tr.post,
    #posts-list td.post,
    #posts-list tr.posth,
    #posts-list td.posth {
      width: 100% !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }

    #posts-list .post td .post-container {
      padding: 10px !important;
    }

    #posts-list img[src*="klavogonki.ru/avatars"] {
      height: 70px !important;
    }

    #head .right .menu {
      top: 95px !important;
      position: fixed !important;
      padding: 0 !important;
      margin: 0 auto !important;
    }

    /* logo position */
    #head #logo {
      top: 45px !important;
      z-index: 110 !important;
      height: 50px !important;
      background-color: unset !important;
      box-shadow: unset !important;
      border-radius: unset !important;
    }

    #head #logo a,
    #head #logo a::after {
      height: 50px !important;
    }

    #play-right {
      display: none !important;
    }

    .minwidth_container {
      height: 0 !important;
    }

    /* chat width */
    #chat-container {
      left: 0 !important;
      right: 0 !important;
    }

    /* userpanel */
    .userpanel {
      max-width: 100% !important;
      min-width: 100% !important;
      background: none !important;
    }

    .userpanel::after {
      top: 95px !important;
    }

    td.user-dropdown:nth-child(5) > div:nth-child(1) {
      border-right: 1px solid var(--middlegray);
    }

    .user-block {
      position: relative;
      width: 100% !important;
      right: 0 !important;
      top: 45px !important;
      background: var(--deepgray) !important;
    }

    #stats-block {
      position: relative;
      width: 100% !important;
      left: 0 !important;
      background: var(--deepgray) !important;
      padding: 5px !important;
      top: 0 !important;
      border-bottom: 1px solid var(--middlegray) !important;
    }

    .user-block table,
    #stats-block table {
      margin: 0 auto !important;
    }

    /* game block top space */
    body .play-wrapper {
      display: flex !important;
      justify-content: center !important;
      margin: 25px 0 0 0 !important;
    }

    body .play-overall-table {
      margin: 0 !important;
    }

    /* main page first && second row top space */
    #index .firstrow {
      top: 5px !important;
    }

    /* main page secondrow content align column && width */
    #index .secondrow {
      margin-top: 8px !important;
      display: flex !important;
      flex-direction: column !important;
    }

    #index .secondrow .col2,
    #index .secondrow .col3 {
      width: 100% !important;
    }

    /* content top space */
    div#content {
      margin-top: 95px !important;
    }

    /* profile */
    .profile-header,
    .container,
    .col-xs-9,
    .profile-root .profile-content {
      width: 100% !important;
    }

    .col-xs-3,
    .profile-root .sidebar {
      display: none !important;
    }

    .profile-root .profile-header .title {
      top: 25px !important;
      left: 265px !important;
      font-size: 15px !important;
    }

    .profile-root .profile-header .username {
      top: 0 !important;
      left: 210px !important;
      padding-right: 0px !important;
    }

    .profile-root .profile-header {
      margin: 30px 0 30px 0 !important;
    }

    .profile-root .profile-header .title {
      top: -20px !important;
      left: 210px !important;
    }

    .profile-root .profile-header.fixed {
      top: 90px !important;
    }

    #profile-index .trophy {
      display: flex !important;
      justify-content: center !important;
    }

    /* statistics table align center */
    .profile-stats .chart-table {
      display: flex !important;
      justify-content: center !important;
    }

    /* bio content justify */
    #profile-index .bio .content {
      display: flex !important;
      justify-content: center !important;
    }

    /* recent games position */
    #head #recent-games-container {
      bottom: -1175px !important;
    }
  }

  /* min width 700px */
  @media only screen and (max-width: 840px) {
    .chat .messages .time[style*="background-color: yellow"] {
      width: 50% !important;
      margin-left: 25% !important;
      margin-right: 25% !important;
    }

    .chat .messages p,
    .chat .messages .time,
    .chat .messages .username,
    .chat .messages .room.private {
      width: 100% !important;
      text-align: center !important;
      display: block !important;
    }

    .chat .messages .time {
      margin-top: 10px !important;
    }
  }

  /* min width 700px */
  @media only screen and (max-width: 700px) {
    .userpanel {
      height: 100px !important;
    }

    /* stats block */
    .userpanel #stats-block {
      padding: 0 !important;
      height: 100px !important;
    }

    .userpanel #stats-block table {
      height: 100px !important;
      align-items: center !important;
      display: flex !important;
      justify-content: center !important;
    }

    .userpanel #stats-block tbody {
      display: block !important;
      column-count: 2 !important;
    }

    .userpanel #stats-block tr {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column !important;
    }

    .userpanel #stats-block td.title,
    .userpanel #stats-block td.value {
      display: block !important;
      padding: 0 !important;
    }

    .userpanel #stats-block td.divider {
      display: none !important;
    }

    .userpanel #stats-block .gametype #gametype-mdash {
      display: none !important;
    }

    /* user block */
    .userpanel .user-block {
      height: 70px !important;
      top: 100px !important;
    }

    .userpanel .user-block > table {
      height: 70px !important;
    }

    /* user panel bottom gradient */
    .userpanel::after {
      top: 170px !important;
    }

    /* logo */
    #head #logo {
      top: 0px !important;
    }

    #head #logo,
    #head #logo a,
    #head #logo a::after {
      background-size: 80px !important;
      width: 100px !important;
    }

    /* game type select */
    #gametype-select {
      top: 100px !important;
      left: 0 !important;
      height: 300px !important;
    }

    .userpanel .user-block td {
      padding: 0 !important;
    }

    /* daily task btn */
    .userpanel .user-block .daily-task {
      height: 70px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }

    .userpanel .user-block .daily-task .icon {
      top: 0 !important;
      left: 0 !important;
    }

    /* level icon */
    .userpanel #userpanel-level-container {
      top: -5px !important;
      height: 80px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    /* username btn */
    .userpanel .user-block .user-dropdown .name {
      height: 70px !important;
      padding: 0 10px !important;
      justify-content: center !important;
      align-items: center !important;
      display: flex !important;
    }

    .userpanel .user-block .name .caret {
      display: none !important;
    }

    /* scores block */
    .userpanel .user-block .scores-table {
      display: flex !important;
      align-items: center !important;
      height: 70px !important;
      margin-right: 10px !important;
    }

    .userpanel .user-block .scores-table tr {
      display: flex !important;
    }

    .userpanel .user-block .scores-table tr:nth-child(1) {
      flex-direction: column !important;
      align-items: center !important;
    }

    .userpanel #userpanel-bonuses {
      margin-right: 5px !important;
      margin-top: -3px !important;
      margin-left: 5px !important;
    }

    /* drop down menu position */
    .userpanel .user-block .user-dropdown .dropmenu {
      top: 70px !important;
    }

    #head .right .menu {
      display: flex !important;
      top: 170px !important;
      width: 100% !important;
    }

    /* navigation menu position */
    #index .firstrow {
      height: 135px !important;
      flex-direction: column !important;
      top: 10px !important;
    }

    #index .secondrow {
      margin-top: 15px !important;
    }

    /* discussion forum lines */
    #index #live #discussing_forum li {
      text-align: center !important;
      height: 50px !important;
    }

    #index #live #discussing_forum li .title {
      max-width: unset !important;
      top: 0 !important;
      display: block !important;
    }

    #head #recent-games-conteiner {
      bottom: -1390px !important;
    }

    .secondrow .col2 {
      height: 840px !important;
    }

    /* klavotools fast race creation btn's */
    #head #recent-games-container {
      bottom: -1730px !important;
    }

    .pages {
      top: 350px !important;
    }

    div#content {
      margin-top: 170px !important;
    }
  }

  /* min width 600px */
  @media only screen and (max-width: 600px) {
    body .voclist table tbody {
      column-count: 1 !important;
    }

    #head .right .menu {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      width: 100% !important;
    }

    #head .right .menu a,
    #head .right .menu a.active {
      width: 100% !important;
    }

    div#content {
      margin-top: 260px !important;
    }
  }
}
