@import "./data/variables";

// Prevent scrollbars in modal fade
.fade {
  overflow: auto !important;
  overflow-y: auto !important;

  // Close button styles for modal
  .close {
    position: absolute !important; // Set globally
    margin-top: unset !important; // Garbage
    top: -30px !important;
    right: -10px !important;
    z-index: 10 !important;
    width: 40px !important;
    height: 40px !important;
    border-bottom-left-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: $black $close !important;
    font-size: 0 !important;
    transition: all 0.15s ease !important;
    opacity: 1 !important;

    &:hover {
      filter: brightness(0.8) !important;
    }
  }

  // Toggle button affecting only modal
  .dropdown-toggle {
    background-color: $deepgray !important;
    border: 1px solid $blue !important;
    border-radius: 5px !important;
    transition: background 0.15s ease, color 0.15s ease, border 0.15s ease;

    &:hover,
    &:focus {
      color: $black !important;
      background-color: $blue !important;
      border: 1px solid $lightblue !important;

      span {
        color: $black !important;
      }

      .caret {
        border-top: 4px solid $black !important;
      }
    }

    span {
      color: $lightblue !important;
    }

    .caret {
      border-top: 4px solid $lightblue !important;
    }
  }

  // Prevent progress element left margin
  .dailytask-progress {
    .progress-striped {
      margin: 0 !important;
    }
  }
}

.modal2-dialog,
.modal2-header,
.modal2-content,
.modal2-footer {
  background: $darkgray !important;
  color: $white !important;
  border: none !important;
}

.modal {
  border: 1px solid $gray !important;
  background: $darkgray !important;
}

.modal-body {
  overflow-y: hidden !important;
  background: $darkgray !important;
}

.modal-header,
.modal-body,
.modal-footer {
  background: $darkgray !important;
}

.modal-footer {
  border-top: 1px solid $gray !important;
}

.modal-header,
.modal2-header {
  border-bottom: 1px solid $gray !important;
}

.modal2-dialog {
  font-weight: lighter;
  border: 1px solid $gray !important;

  span {
    color: $white !important;
  }
}

.modal2-content {
  .award-status-block {
    text-align: center !important;
  }
  .award-status {
    color: $blue !important;
  }
  .task-description {
    padding-left: 0 !important;
  }
  .no-progress-label,
  .next-level-label {
    color: $white !important;
  }
  b {
    font-weight: lighter !important;
  }
}

.edit,
.preview {
  background: $darkgray !important;
  color: $white !important;
  border: 1px solid $gray !important;
}

.gametype-icons {
  display: none !important;
}
