@import "./data/variables";

/* NOTIFICATIONS */
.notification-bar,
#top-popup {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  position: absolute !important;
  left: inherit !important;
  right: 0 !important;
  background: $deepgray !important;
  border: 1px solid $blue !important;
  width: 350px !important;
  height: 200px !important;
  opacity: 0.5 !important;
  transition: all 1s !important;

  &:hover {
    opacity: 1 !important;
  }

  .content {
    text-align: center !important;
  }

  .right {
    float: unset !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    flex-direction: column !important;

    a {
      transition: all 0.1s !important;
      position: relative !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 250px !important;
      height: 35px !important;
      border: 1px solid $white !important;
      margin: 0 !important;
      padding: 0 !important;

      &:hover {
        background: #772a34 !important;
        border: 1px solid $red !important;
      }

      img {
        filter: invert(100%) brightness(2) !important;
      }
    }
  }

  button {
    top: 0 !important;
    display: block !important;
    height: 35px !important;
    width: 250px !important;

    &:nth-child(2) {
      top: -1px !important;
    }
  }

  input[type="button"] {
    width: 250px !important;
    height: 35px !important;
  }
}

.notification-bar {
  z-index: 120 !important;
  transition: all 2s !important;
  top: -200px !important;

  &.ng-scope {
    top: 45px !important;

    &.fixed {
      top: 45px !important;
    }
  }

  &.ng-scope.ng-hide {
    top: -200px !important;

    &.fixed {
      top: -200px !important;
    }
  }

  button {
    border: 1px solid $white !important;
    color: $white !important;
    background: none !important;

    &:hover {
      border: 1px solid $blue !important;
      color: $deepgray !important;
      background: $blue !important;
    }
  }

  .right a {
    top: -2px !important;
  }
}

#top-popup {
  top: -200px;

  &[style*="display: none"] {
    display: none !important;
  }

  &[style*="top: "] {
    top: 45px !important;
  }

  &[style*="top: -"] {
    top: -200px !important;
    transition: all 1s !important;
  }

  .right a {
    top: -1px !important;
  }

  button:nth-child(2) {
    top: -1px !important;
  }
}