/* POPUP BOX CONFIRMATION STYLES */
.popup_message,
#drop_message {
  width: 100% !important;
  height: 100% !important;

  .back {
    position: fixed !important;
  }

  .popup-box {
    border-radius: 10px !important;
    overflow: hidden !important;
    border: 1px solid $gray !important;
  }

  .c {
    background: $black !important;
    padding: 1em !important;

    b,
    strong {
      color: $lightblue !important;
    }
  }

  textarea {
    width: 100% !important;
    min-width: 300px !important;
    resize: vertical !important;
    background-color: $black !important;
    padding: 0.5em !important;
    border-radius: 5px !important;
  }

  h4,
  h5 {
    color: $orange !important;
    margin: 0 0 1em !important;
  }

  .btn,
  input[type="button"] {
    margin: 0 0.5em !important;
    padding: 6px 12px !important;
    border-radius: 3px !important;
    height: 30px !important;
    line-height: 15px !important;
    border: none !important;
    outline: none !important;
    color: $black !important;
    background: $gray !important;
    transition: color 0.15s ease-in-out, background 0.15s ease-in-out !important;

    &:hover {
      background: $blue !important;
    }
  }
}
