@import "variables";

// Race nickname block width
.name_content {
  width: 150px !important;
  overflow: visible !important;
}

// Race remove margin to do more space around
#play-overall .gameblock {
  margin: 0 !important;

  .people {
    display: none !important;
  }

  .rc .handle,
  .handle {
    margin-left: -5px !important;
    opacity: 0.5 !important;
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    background: $middlegray !important;

    &:hover {
      background: $blue !important;
    }
  }
}

// Race status block under typeblock bg color
#status {
  padding: 0 !important;
  background: $darkgray !important;

  table {
    width: 100% !important;

    tr:nth-child(1) {
      display: block !important;
      width: 75% !important;
    }

    tr:nth-child(2) {
      display: flex !important;
      width: 100% !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
}

body {
  #status {
    #host_start {
      border-bottom: 1px solid $blue !important;
    }

    #gamedesc {
      vertical-align: middle !important;
      padding-bottom: 0 !important;
    }
  }

  #status-inner {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center;

    #waiting {
      &[style="none"] {
        display: none !important;
      }

      position: absolute !important;
      color: transparent !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: row-reverse !important;
      animation: wait 1s infinite ease-in-out;
    }

    #racing {
      &[style="display: none"] {
        display: none !important;
      }

      position: absolute !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    #paused {
      width: 100% !important;
      margin-left: 70px !important;
    }
  }

  #params {
    order: 1 !important;
    width: 270px !important;

    // Race settings links styles
    a {
      text-decoration: underline !important;
      border-bottom: none !important;
    }

    .slider {
      &.off {
        background: $darkgray !important;
      }
    }
  }

  #players-block .handle {
    top: -5px !important;
  }

  #play-right {
    display: flex !important;
    flex-direction: column !important;
    gap: 1em !important;
    position: absolute !important;
    margin-left: 0 !important;
    padding: 1em !important;
    left: 0 !important;
    transform: translate(0) !important;
    transition: opacity 1s ease-in-out, 0.3s ease-in-out !important;

    &[style*="margin-right: 0"] #invite {
      right: 1058px !important;
    }

    &[style*="position: absolute"] #invite,
    &[style*="margin-right: -"] #invite {
      right: 1363px !important;
    }

    > div.play-right-toggle {
      background: $middlegray !important;
      color: $deepgray !important;
      transition: all 0.2s !important;
      top: 325px !important;

      &:hover {
        background: $blue !important;
      }

      .glyphicon {
        top: 0 !important;
      }
    }

    #invite {
      order: 0 !important;
      width: 270px !important;

      a {
        color: $blue !important;

        &:hover {
          color: $lightblue !important;
        }
      }

      #friends-list {
        background: $darkgray !important;
        border: none !important;
      }

      #select-all {
        border-bottom: none !important;
        text-decoration: underline !important;
      }
    }
  }
}

@keyframes wait {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#waiting_timeout {
  position: absolute !important;
  color: lightcoral !important;
  font-size: 25px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 40px !important;
  width: 100px !important;
  background: #693333 !important;
  border: 1px solid red !important;
}

#racing_time {
  color: lightgreen !important;
  font-size: 25px !important;
  background: #2c482c !important;
  height: 40px !important;
  width: 100px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid green !important;
}

// Race advertisement remove
#playads {
  display: none !important;
}

// Car styles
.car {
  .name {
    color: $white !important;
  }

  .car_rating {
    color: $white !important;
  }
}

// Race settings panel sliders styles
.slider {
  background: $deepgray !important;
  border: 2px solid $middlegray !important;
  border-radius: 10px !important;
  box-sizing: content-box !important;

  // Slider handle
  .handle {
    background: $white !important;
    border: 2px solid $white !important;
    border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important;
    margin: 1px !important;
    transition: all 0.2s !important;

    &:hover {
      background: $middlegray !important;
    }
  }
}

// Race settings && friends online panel styles
#params,
#play-right #invite {
  background: $darkgray !important;
  border: 1px solid $middlegray !important;
  color: $white !important;
}

#play-right #invite {
  order: 0 !important;
  width: 270px !important;
}

// Invite friends input styles
#invite-link {
  color: $blue !important;
  border: none !important;
  border-bottom: 1px solid $middlegray !important;
  background: none !important;
}

// Destroy race humans
.people img {
  display: none !important;
}

// Remove road user bg color
.player {
  background: none !important;
  padding: 10px 0 10px 0 !important;
  border-bottom: 1px solid $middlegray !important;

  // Error tracking (car bolt detail)
  .error-on-track-img {
    background: lighten($orange, 30%) !important;
  }

  .divider {
    display: none !important;
  }

  .rating {
    display: flex !important;
    width: 70% !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 30px !important;

    div {
      color: $white !important;
      margin-right: 0 !important;
    }

    .stats {
      color: $middlegray !important;
      left: 135px !important;
      height: 30px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: space-around !important;
      gap: 1em !important;
    }

    .rating_gained {
      background: none !important;
      background: $orange !important;
      color: $darkgray !important;
    }
  }
}

// Now set color to road normal to be
#players {
  overflow: visible !important;
  background-color: $darkgray !important;
}

#players-count-lbl {
  float: unset !important;
  font-size: 13px !important;

  // Race label point % count
  b {
    color: $darkgray !important;
    background: $blue !important;
  }
}

#rating_loading {
  background: none !important;
  bottom: 45px !important;
  left: -50px !important;
  font-size: 12px !important;
  color: $blue !important;
}

#speedpanel {
  #speed-label,
  #errors-label {
    color: #bbe4ff !important;
  }

  #speed-label {
    top: 60px !important;
  }

  #errors-label {
    top: 35px !important;
  }
}

// Race book bg white bg border remove
.imobilco-book .imobilco-cover .co {
  background: none !important;
}

// Race game description color
#gamedesc {
  color: $white !important;
}

#errors_tab {
  background: none !important;

  a {
    text-decoration: underline !important;
    border-bottom: none !important;
  }
}

#errors_text {
  p {
    background-color: $deepgray !important;
    color: $white !important;

    &.premium_abra_errors {
      a {
        color: $blue !important;

        &:hover {
          color: $lightblue !important;
        }
      }

      // Most difficult typing letters style
      span {
        color: $blue !important;
        background: none !important;
        border-bottom: 1px solid $blue !important;
      }

      sup {
        color: $white !important;
      }
    }
  }
}

// Remove how to play
#report {
  display: none !important;

  // Race how to race && report to text links rules
  a {
    border-bottom: 1px solid $blue !important;
  }
}

// Remove notification about mistype
#fixtypo {
  display: none !important;
}

// Race normal voc name color white
.gametype-normal {
  color: $white !important;
}

// Race main typeblock bg color and border around
#typeblock {
  background: $darkgray !important;
  border: none !important;

  // Race typeblock darken around
  .tl,
  .tr,
  .bl,
  .br {
    background: none !important;
  }

  // Race hidden text before the game starts bg color && text color
  #hiddentext {
    background-color: $darkgray !important;
    border: none !important;
    color: $blue !important;
    font-weight: lighter !important;
  }

  // Race typeblock input when you can't type yet
  .disabled {
    color: $middlegray !important;
    background: $darkgray !important;
    border: none !important;
    border-bottom: 1px solid $middlegray !important;
  }

  // Qualification correct error text bg
  .correct_errors_text {
    background: $darkgray !important;
    color: $white !important;
  }

  // Qualification race img adjustments
  img[src*="tmp/text/"] {
    filter: invert(0.9) brightness(0.83) sepia(1) hue-rotate(200deg)
      saturate(0.4) !important;
  }

  // Race typeblock input text default color
  #inputtext {
    color: $white;
    background: $deepgray !important;
    border: none !important;
    padding: 8px;
    box-sizing: border-box;

    // Race typeblock input text when error text color && bg color
    &[class="error"] {
      background: #f06c6c !important;
      border: none !important;
      color: $deepgray !important;
      border-bottom: 1px solid $middlegray !important;
    }
  }

  .disabled {
    color: transparent !important;
  }

  // Race typeblock rm text decoration
  #typetext {
    .highlight {
      text-decoration: none !important;
    }

    // Race typeblock never do opacity with js
    opacity: 1 !important;
  }

  // Race typeblock typed text color
  #beforefocus {
    color: $middlegray !important;
  }

  // Race typeblock typing word or letter color
  #typefocus {
    color: lightgreen !important;
  }

  // Race typeblock not typed text yet color
  #afterfocus {
    color: $white !important;
  }

  // Race typeblock voc name && to list game && play another game links color
  #bookinfo {
    a {
      color: $blue !important;

      &:hover {
        color: $lightblue !important;
      }
    }

    #again {
      a {
        color: $blue !important;

        &:hover {
          color: $lightblue !important;
        }
      }

      // Race typeblock you typed this && < ctrl ctrl > color
      .hotkey {
        color: $middlegray !important;
      }
    }

    div {
      color: $middlegray !important;
    }
  }
}

// Race typeblock quotes
.quoteleft,
.quoteright {
  filter: brightness(0.3) !important;
}

// Race report text textarea
#report_reason_input {
  background: $darkgray !important;
  border: 1px solid $middlegray !important;
}

// Race record mini popup note
#play-overall #players .player .newrecord a {
  height: 23px !important;
  margin-top: -5px !important;
  padding: 3px !important;
  background: $orange !important;
  border: none !important;
  font-weight: bold !important;
  color: $darkgray !important;
}

// Race with this we do width for all right side blocks
#invite {
  width: 270px !important;
}

// Opacity for race settings && invite friends blocks
#invite,
#params {
  opacity: 0.2 !important;
  transition: opacity 0.2s !important;
}

// Opacity for klavotools complexity && statistics blocks
#complexity-panel,
#statistics {
  opacity: 0.7 !important;
  transition: opacity 0.2s !important;
}

#complexity-panel {
  label {
    font-size: 10px !important;
    margin-right: 8px !important;
  }

  #spectrumCanvas {
    margin: 10px 0 10px !important;
  }
}

// Disabled opacity for all right side race blocks on hover
#invite:hover,
#params:hover,
#complexity-panel:hover,
#statistics:hover {
  opacity: 1 !important;
  transition: opacity 0.2s !important;
}

// Race virtual keyboard btn
#keyboard_cont {
  display: flex !important;
  justify-content: center !important;

  &[style*="display: none"] {
    display: none !important;
  }

  #param_keyboard {
    font-size: 0 !important;
    position: absolute !important;
    border: none !important;
    background: $virtualKeyboard;
    color: transparent !important;
    height: 12px;
    width: 26px;
    display: block;
    transition: all 0.2s !important;
    animation: keyboard 10s linear infinite !important;

    &:hover {
      filter: brightness(0.7) !important;
    }
  }
}

#keyboard {
  margin: 30px auto 0 auto !important;

  // Race virtual keyboard img invert
  filter: invert(1) sepia(0) hue-rotate(40deg) grayscale(0.3) !important;
}

@keyframes keyboard {
  0% {
    filter: brightness(0.8) hue-rotate(0);
  }
  50% {
    filter: brightness(0.8) hue-rotate(180deg);
  }
  100% {
    filter: brightness(0.8) hue-rotate(0);
  }
}

// Change img speedpanel night mode
#speedpanel-canvas {
  box-sizing: border-box !important;
  padding-left: 262px !important;
  height: 87px !important;
  width: 262px !important;
  background: $speed !important;
}

// Remove unused elements
#speedpanel-back,
#speedpanel-top,
#speedpanel-arrow {
  display: none !important;
}

// Race delete result button
.delresult {
  margin-right: unset !important;
  left: 95px !important;
  bottom: unset !important;

  a {
    border: 1px solid $blue !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 30px !important;
    width: 30px !important;
    background: #343442 !important;

    &:hover {
      filter: hue-rotate(180deg) !important;
    }
  }

  img {
    box-sizing: border-box !important;
    background: $close !important;
    width: 16px !important;
    height: 16px !important;
    padding-left: 16px !important;
  }
}

// START KLAVOTOOLS OPTIONS
body {
  // Klavotools sort btn's
  #sort-panel {
    .sort-button {
      text-align: center !important;
      width: 60px !important;
      padding-top: 20px !important;
    }

    div[style*="float: left"] {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 175px !important;
      text-align: center !important;

      label,
      input {
        margin: 0 !important;
      }
    }
  }
}

// Klavotools race statistics
#spectrumcanvas {
  background: $deepgray !important;
  filter: contrast(2) !important;
}

#statistics {
  width: 270px !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  color: $white !important;
  background: $darkgray !important;
  border: 1px solid $middlegray !important;

  span {
    color: $blue !important;
  }
}

// Klavotools race sort block label color && links sort color
label[for="autosort"] {
  color: $white !important;
}

#position,
#nickname,
#errorscount,
#errors,
#rating {
  color: $blue !important;

  &:hover {
    color: $lightblue !important;
  }
}
// END KLAVOTOOLS OPTIONS
