// Smilie configuration map
$smilies: (
  'acute': ('https://i.imgur.com/1G1lwqS.gif', 27px, 24px),
  'angry': ('https://i.imgur.com/7EZu5kN.gif', 20px, 20px),
  'angry2': ('https://i.imgur.com/az8LGqF.gif', 20px, 20px),
  'angrygirl': ('https://i.imgur.com/2weI6WJ.gif', 39px, 26px),
  'bad': ('https://i.imgur.com/25cU2j0.gif', 34px, 26px),
  'badcomp': ('https://i.imgur.com/mtYR6VH.gif', 60px, 23px),
  'beer': ('https://i.imgur.com/HL0cn2F.gif', 51px, 28px),
  'biggrin': ('https://i.imgur.com/1izlFKX.gif', 20px, 20px),
  'birthday': ('https://i.imgur.com/OoX8Svq.gif', 38px, 33px),
  'blink': ('https://i.imgur.com/jeVusPJ.gif', 20px, 20px),
  'blush': ('https://i.imgur.com/r4aZiOW.gif', 20px, 20px),
  'boredom': ('https://i.imgur.com/zNrahaO.gif', 26px, 22px),
  'boykiss': ('https://i.imgur.com/d3t5OEH.gif', 47px, 24px),
  'bye': ('https://i.imgur.com/5Co5wg6.gif', 29px, 24px),
  'chaingun': ('https://i.imgur.com/1vUdY8X.gif', 49px, 28px),
  'champ': ('https://i.imgur.com/fdjzIwI.gif', 40px, 40px),
  'champ2': ('https://i.imgur.com/Zz5b5tA.gif', 37px, 37px),
  'cheerful': ('https://i.imgur.com/5oOpo9D.gif', 32px, 25px),
  'cheerleader': ('https://i.imgur.com/NjC1VvH.gif', 52px, 43px),
  'clapgirl': ('https://i.imgur.com/exvbGhj.gif', 40px, 25px),
  'clapping': ('https://i.imgur.com/0af69uN.gif', 40px, 24px),
  'complaugh': ('https://i.imgur.com/fiyPmai.gif', 50px, 30px),
  'confetti': ('https://i.imgur.com/sV37HeR.gif', 74px, 58px),
  'confuse': ('https://i.imgur.com/HBiNPPQ.gif', 34px, 39px),
  'cool': ('https://i.imgur.com/ZT1WJ2G.gif', 20px, 20px),
  'crazy': ('https://i.imgur.com/TnjoCwa.gif', 20px, 27px),
  'cry': ('https://i.imgur.com/tKnJBT7.gif', 31px, 22px),
  'cult': ('https://i.imgur.com/WNWJUpQ.gif', 36px, 24px),
  'curtsey': ('https://i.imgur.com/bcl5fH8.gif', 38px, 24px),
  'dance': ('https://i.imgur.com/JsQau5J.gif', 42px, 25px),
  'dash': ('https://i.imgur.com/P5TV0vH.gif', 31px, 26px),
  'diablo': ('https://i.imgur.com/oXaQqOA.gif', 39px, 34px),
  'dry': ('https://i.imgur.com/0tTjGUe.gif', 20px, 20px),
  'excl': ('https://i.imgur.com/ybeTMvE.gif', 20px, 20px),
  'facepalm': ('https://i.imgur.com/d2GeMNd.gif', 28px, 24px),
  'first': ('https://i.imgur.com/na7IM9v.gif', 31px, 26px),
  'formula1': ('https://i.imgur.com/HALH1eA.gif', 60px, 35px),
  'friends': ('https://i.imgur.com/kM3Qt3A.gif', 52px, 28px),
  'gamer': ('https://i.imgur.com/xvCjZDj.gif', 37px, 27px),
  'girlblum': ('https://i.imgur.com/XYfb9i1.gif', 34px, 23px),
  'girlconfuse': ('https://i.imgur.com/DWVYZg9.gif', 34px, 39px),
  'girlcrazy': ('https://i.imgur.com/r7VvZL0.gif', 37px, 25px),
  'girlcry': ('https://i.imgur.com/tyR1jUQ.gif', 38px, 24px),
  'girldevil': ('https://i.imgur.com/R9zJvwf.gif', 46px, 28px),
  'girlimpossible': ('https://i.imgur.com/JjSjFtN.gif', 34px, 23px),
  'girlinlove': ('https://i.imgur.com/uDNwf6q.gif', 37px, 27px),
  'girlkiss': ('https://i.imgur.com/4eP0nNe.gif', 34px, 23px),
  'girlkissboy': ('https://i.imgur.com/1eePWVo.gif', 51px, 24px),
  'girlmusic': ('https://i.imgur.com/Yw3HP4G.gif', 34px, 25px),
  'girlnervous': ('https://i.imgur.com/6dJ9jjA.gif', 34px, 24px),
  'girlnotebook': ('https://i.imgur.com/O5ynsPg.gif', 55px, 25px),
  'girlsad': ('https://i.imgur.com/5MuGstW.gif', 34px, 23px),
  'girlscare': ('https://i.imgur.com/XlZHr5f.gif', 34px, 29px),
  'girlsick': ('https://i.imgur.com/JMtQE3n.gif', 32px, 30px),
  'girlsilence': ('https://i.imgur.com/8X3zfHF.gif', 31px, 24px),
  'girlstop': ('https://i.imgur.com/cHatIQz.gif', 37px, 27px),
  'girltea': ('https://i.imgur.com/NFshNoo.gif', 39px, 31px),
  'girlwacko': ('https://i.imgur.com/Z5XPvpi.gif', 36px, 24px),
  'girlwink': ('https://i.imgur.com/fHToNdU.gif', 34px, 23px),
  'girlwitch': ('https://i.imgur.com/bHMam3r.gif', 46px, 31px),
  'girlwonder': ('https://i.imgur.com/iWR7yTc.gif', 34px, 29px),
  'good': ('https://i.imgur.com/HPUgC4I.gif', 26px, 23px),
  'goody': ('https://i.imgur.com/g9hBLOY.gif', 39px, 46px),
  'grose': ('https://i.imgur.com/vWzMbI0.gif', 36px, 26px),
  'happy': ('https://i.imgur.com/vivMTfk.gif', 20px, 20px),
  'heart': ('https://i.imgur.com/mkPcBgD.gif', 20px, 20px),
  'hello': ('https://i.imgur.com/vJLoI8j.gif', 42px, 28px),
  'hi': ('https://i.imgur.com/jPge57f.gif', 43px, 28px),
  'hiya': ('https://i.imgur.com/yjakGun.gif', 33px, 30px),
  'huh': ('https://i.imgur.com/ekNIzS3.gif', 20px, 20px),
  'hysteric': ('https://i.imgur.com/r8f3z6a.gif', 41px, 25px),
  'kgagainstaz': ('https://i.imgur.com/YdMISxj.gif', 54px, 49px),
  'kgrace': ('https://i.imgur.com/MbusvOG.gif', 54px, 30px),
  'kissed': ('https://i.imgur.com/xl9qT4b.gif', 23px, 26px),
  'laugh': ('https://i.imgur.com/z55dYmU.gif', 20px, 20px),
  'megashok': ('https://i.imgur.com/mhK4kL2.gif', 32px, 28px),
  'mellow': ('https://i.imgur.com/pFxWDUo.gif', 20px, 20px),
  'music': ('https://i.imgur.com/7DbX8OC.gif', 28px, 25px),
  'nervous': ('https://i.imgur.com/KVIJBeT.gif', 24px, 24px),
  'no': ('https://i.imgur.com/TSJBa3L.gif', 36px, 26px),
  'ohmy': ('https://i.imgur.com/DLzzmCI.gif', 20px, 20px),
  'ok': ('https://i.imgur.com/0XtQCf1.gif', 40px, 26px),
  'ph34r': ('https://i.imgur.com/Ws3W9uV.gif', 20px, 20px),
  'popcorn': ('https://i.imgur.com/Z3ENOfC.gif', 38px, 28px),
  'power': ('https://i.imgur.com/sjV841n.gif', 37px, 25px),
  'rofl': ('https://i.imgur.com/IaNQMVz.gif', 20px, 20px),
  'rofl2': ('https://i.imgur.com/eFr2i3h.gif', 29px, 25px),
  'rolleyes': ('https://i.imgur.com/OkpQ7rC.gif', 20px, 20px),
  'rose': ('https://i.imgur.com/myQE7Zt.gif', 30px, 26px),
  'russian': ('https://i.imgur.com/MIkn3cW.gif', 31px, 30px),
  'sad': ('https://i.imgur.com/qxObHmk.gif', 20px, 24px),
  'scare': ('https://i.imgur.com/DsZMP0O.gif', 42px, 34px),
  'second': ('https://i.imgur.com/gAjowLu.gif', 31px, 26px),
  'shok': ('https://i.imgur.com/gB9EX3g.gif', 20px, 20px),
  'sick': ('https://i.imgur.com/qdjiV5Z.gif', 23px, 30px),
  'silence': ('https://i.imgur.com/UShpo97.gif', 26px, 24px),
  'sleep': ('https://i.imgur.com/7LHHW7Z.gif', 20px, 20px),
  'smile': ('https://i.imgur.com/xzX4ROI.gif', 20px, 20px),
  'sorry': ('https://i.imgur.com/5mk3wHK.gif', 20px, 20px),
  'spiteful': ('https://i.imgur.com/2qb0IZ8.gif', 20px, 20px),
  'spruceup': ('https://i.imgur.com/NoONjdI.gif', 37px, 25px),
  'spruceup1': ('https://i.imgur.com/wjoaTbH.gif', 38px, 29px),
  'tea': ('https://i.imgur.com/1DUZXRr.gif', 33px, 31px),
  'tender': ('https://i.imgur.com/igKWq6Q.gif', 36px, 23px),
  'third': ('https://i.imgur.com/jQwmDht.gif', 31px, 26px),
  'tongue': ('https://i.imgur.com/QsVoBrE.gif', 20px, 24px),
  'umbrage': ('https://i.imgur.com/FPENERv.gif', 35px, 23px),
  'unsure': ('https://i.imgur.com/v1XblKg.gif', 20px, 20px),
  'vampire': ('https://i.imgur.com/fw92koM.gif', 54px, 36px),
  'victory': ('https://i.imgur.com/5OLLeVP.gif', 28px, 23px),
  'wacko': ('https://i.imgur.com/6CduKCz.gif', 20px, 20px),
  'whistle': ('https://i.imgur.com/SPHSXpP.gif', 26px, 25px),
  'wink': ('https://i.imgur.com/L60fUMB.gif', 20px, 20px),
  'wizard': ('https://i.imgur.com/zqlxhrN.gif', 42px, 31px),
  'wub': ('https://i.imgur.com/jORcTG2.gif', 22px, 29px),
  'yes': ('https://i.imgur.com/X7WJOZD.gif', 20px, 24px),
  'adultery': ('https://i.imgur.com/Kb45ETK.gif', 79px, 28px),
  'airkiss': ('https://i.imgur.com/vv081cT.gif', 41px, 30px),
  'ak47': ('https://i.imgur.com/jahkb54.gif', 49px, 23px),
  'armyscare': ('https://i.imgur.com/gen1udM.gif', 43px, 35px),
  'barret': ('https://i.imgur.com/bQpHMDe.gif', 79px, 19px),
  'captain': ('https://i.imgur.com/e2qQkpA.gif', 29px, 29px),
  'cheers': ('https://i.imgur.com/1xZfeux.gif', 28px, 28px),
  'christmasevil': ('https://i.imgur.com/wM7hm9f.gif', 33px, 32px),
  'comandos': ('https://i.imgur.com/1x70VOh.gif', 23px, 23px),
  'flowers': ('https://i.imgur.com/oc1oyQR.gif', 43px, 44px),
  'flowers2': ('https://i.imgur.com/CehwtS6.gif', 30px, 28px),
  'girlheart2': ('https://i.imgur.com/V7idplC.gif', 38px, 28px),
  'girlicecream': ('https://i.imgur.com/GCDf6sw.gif', 50px, 37px),
  'girllove': ('https://i.imgur.com/9IX9DyP.gif', 27px, 35px),
  'girlmad': ('https://i.imgur.com/5dJvOIi.gif', 34px, 28px),
  'girlobserve': ('https://i.imgur.com/q6ty1KP.gif', 39px, 25px),
  'girlpogran': ('https://i.imgur.com/uH5TSxV.gif', 37px, 30px),
  'girlranker': ('https://i.imgur.com/BTIHyhM.gif', 35px, 24px),
  'girlrogatka': ('https://i.imgur.com/ryIYzZk.gif', 63px, 22px),
  'girlshighfive': ('https://i.imgur.com/rbRq7Y9.gif', 62px, 30px),
  'girlvdv': ('https://i.imgur.com/wBDUZZ0.gif', 35px, 24px),
  'hairdryer': ('https://i.imgur.com/XFWTRLW.gif', 50px, 30px),
  'heart2': ('https://i.imgur.com/Z4AxNzW.gif', 29px, 28px),
  'hug': ('https://i.imgur.com/vaOkURD.gif', 59px, 24px),
  'inlove': ('https://i.imgur.com/0Sebbkf.gif', 46px, 33px),
  'moose': ('https://i.imgur.com/5tIelVB.gif', 55px, 28px),
  'nolove': ('https://i.imgur.com/uwgunbM.gif', 45px, 45px),
  'pogranmail': ('https://i.imgur.com/f0gThdD.gif', 38px, 43px),
  'pogranminigun': ('https://i.imgur.com/TFyZHtP.gif', 60px, 34px),
  'pogranrose': ('https://i.imgur.com/SPUSRyq.gif', 30px, 26px),
  'pograntort': ('https://i.imgur.com/UFHXc6u.gif', 40px, 28px),
  'primp': ('https://i.imgur.com/w9NE0cf.gif', 60px, 35px),
  'prival': ('https://i.imgur.com/qTmiROR.gif', 97px, 36px),
  'radistka': ('https://i.imgur.com/2BH0BX9.gif', 41px, 27px),
  'ranker': ('https://i.imgur.com/I0rfdKZ.gif', 20px, 24px),
  'rogatka': ('https://i.imgur.com/QwQqlSa.gif', 63px, 22px),
  'serenade': ('https://i.imgur.com/oENk4xa.gif', 30px, 60px),
  'smell': ('https://i.imgur.com/DcyzqBg.gif', 30px, 26px),
  'soldier': ('https://i.imgur.com/fSmJef1.gif', 26px, 28px),
  'spruce': ('https://i.imgur.com/lo0oUoY.gif', 58px, 40px),
  'vdv': ('https://i.imgur.com/lx2ZtCN.gif', 23px, 23px),
  'wedance': ('https://i.imgur.com/oFXtHfI.gif', 59px, 24px),
  'wedding': ('https://i.imgur.com/qBFQSIf.gif', 56px, 36px),
  'wine': ('https://i.imgur.com/J3km0Nb.gif', 28px, 28px),
  'witch': ('https://i.imgur.com/p8cLrVc.gif', 34px, 40px),
  'alien': ('https://i.imgur.com/GDLbmiZ.gif', 20px, 20px),
  'batman': ('https://i.imgur.com/wHHAD7c.gif', 20px, 27px),
  'bebebe': ('https://i.imgur.com/Epu6Fz6.gif', 28px, 25px),
  'bite': ('https://i.imgur.com/BvBjcPa.gif', 25px, 28px),
  'clown': ('https://i.imgur.com/00CYz93.gif', 50px, 25px),
  'corsair': ('https://i.imgur.com/z2IMwlg.gif', 45px, 50px),
  'cowboy': ('https://i.imgur.com/Qcx1z4C.gif', 40px, 50px),
  'cyborg': ('https://i.imgur.com/lTwI5up.gif', 20px, 20px),
  'dandy': ('https://i.imgur.com/b9QY78j.gif', 30px, 30px),
  'dwarf': ('https://i.imgur.com/cZtvhnw.gif', 46px, 48px),
  'ghost': ('https://i.imgur.com/59IVj4Q.gif', 45px, 23px),
  'girlpirate': ('https://i.imgur.com/tThI1JG.gif', 33px, 25px),
  'heyfrombag': ('https://i.imgur.com/zxSzE6k.gif', 30px, 30px),
  'musketeer': ('https://i.imgur.com/tO416xm.gif', 45px, 60px),
  'pioneer': ('https://i.imgur.com/nAi4HPf.gif', 29px, 33px),
  'robot': ('https://i.imgur.com/AVsrLYH.gif', 20px, 20px),
  'spider': ('https://i.imgur.com/0h64DMz.gif', 51px, 25px),
  'supergirl': ('https://i.imgur.com/kZ7KePp.gif', 38px, 27px),
  'terminator': ('https://i.imgur.com/vQAaXt2.gif', 31px, 31px),
  'turtle': ('https://i.imgur.com/N7lbJa7.gif', 32px, 31px),
  'rocker': ('https://i.imgur.com/YUaAGSf.gif', 49px, 44px),
  'bayanist': ('https://i.imgur.com/WdyM62h.gif', 50px, 45px),
  'girlrevolve': ('https://i.imgur.com/gEivr1Y.gif', 35px, 40px),
  'merrychristmas': ('https://i.imgur.com/4LtNyP4.gif', 50px, 50px),
  'snegurka': ('https://i.imgur.com/LTW0I7U.gif', 34px, 45px),
  'snowgirlwave': ('https://i.imgur.com/VAIYeeC.gif', 36px, 34px),
  'snowman': ('https://i.imgur.com/HjWSGuB.gif', 95px, 71px)
);

// Base styling for all smilies
img[src*="/img/smilies/"] {
  box-sizing: border-box !important;
}

// Mixin to generate smilie styles
@mixin smilie-style($name, $url, $width, $height) {
  img[src*="/img/smilies/#{$name}.gif"] {
    background: url($url) no-repeat;
    width: $width !important;
    height: $height !important;
    padding-left: $width !important;
  }
}

// Generate all smilie styles
@each $name, $properties in $smilies {
  $url: nth($properties, 1);
  $width: nth($properties, 2);
  $height: nth($properties, 3);
  
  @include smilie-style($name, $url, $width, $height);
}
