@import "variables";

/* Wiki section styles */

a#top {
  border: none !important;
}

div#content {
  color: $white !important;
  background: $darkgray !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 50px !important;
}

#mw-content-text {
  table,
  td {
    background: $darkgray !important;
    color: $white !important;
  }

  th {
    background: $deepgray !important;
  }

  table {
    h2,
    div {
      background: none !important;
      color: $white !important;
    }
  }
}

#mw-panel.collapsible-nav {
  .portal {
    h3 {
      a {
        color: $white !important;
      }
    }

    &.collapsed {
      h3 {
        a {
          color: $white !important;
        }
      }
    }

    div.body {
      ul {
        li {
          a {
            color: $blue !important;

            &:hover {
              color: $lightblue !important;
            }
          }
        }
      }
    }
  }
}

#wptextbox1 {
  border: none;
  border-bottom: 1px solid $middlegray !important;
  border-top: 1px solid $middlegray !important;
}

#p-logo {
  left: 2.5em !important;
  top: -8em !important;

  a {
    display: block !important;
    box-sizing: border-box !important;
    width: 100px !important;
    height: 100px !important;
    background: $logo !important;
    padding-left: 100px !important;
  }
}

div#mw-head {
  background: $darkgray !important;
}

.catlinks {
  background-color: $darkgray !important;
}

div.vectortabs {
  ul {
    li {
      background: none !important;
      border: none !important;
    }
  }

  li {
    a {
      color: $blue !important;
    }

    &.selected {
      background: none !important;
      background-color: $blue !important;
      color: $deepgray !important;
    }
  }
}

div#simplesearch {
  border: 1px solid $middlegray !important;
  background: $darkgray !important;

  input {
    color: $white !important;
  }
}

#pagehistory {
  li {
    &.selected,
    & {
      background-color: $deepgray !important;
      border: none !important;
    }
  }
}

.flaggedrevs-color-1 {
  background-color: $darkgray !important;
  border-bottom: 1px solid $middlegray !important;
}

/* Wiki login form */
input {
  &.logintext,
  &.loginpassword {
    color: $white !important;
    border: 1px solid $middlegray !important;
    background: $darkgray;
    box-shadow: none !important;

    &:focus,
    &:hover {
      color: $white !important;
      border: 1px solid $blue !important;
      background: $darkgray !important;
      box-shadow: none !important;
    }
  }
}

.editoptions {
  background-color: $deepgray;
  border: none !important;
}

table {
  &.flaggedrevs_editnotice,
  &.flaggedrevs_viewnotice {
    border: none !important;
  }
}

#content {
  pre {
    background-color: $deepgray !important;
    border: none !important;
    color: $white !important;
  }
}

#editpage-copywarn2 {
  background-color: $deepgray !important;
  border: none !important;
  color: $white !important;
}