// Button icon to open the virtual keyboard for newbies
$virtualKeyboard: url("https://i.imgur.com/CVbMpI4.png");

// Speed panel background image for speed and error monitoring
$speedPanel: url("https://i.imgur.com/c3CG7QV.png");
$speedPanelDigitsPlace: url("https://i.imgur.com/TveD9ms.png");

// Award images for achievements
$medal-award: url("https://i.imgur.com/JDhJqcC.png");
$star-award: url("https://i.imgur.com/YmrdFhT.png");
$trophy-award: url("https://i.imgur.com/2FZf6o2.png");
$crown-award: url("https://i.imgur.com/dRmEePR.png");
$gold-helmet-award: url("https://i.imgur.com/ycmbPKe.png");
$platinum-helmet-award: url("https://i.imgur.com/59ELuaN.png");
$black-helmet-award: url("https://i.imgur.com/maRdFQj.png");
$wheel-award: url("https://i.imgur.com/dAJvuUs.png");
$bronze-book-award: url("https://i.imgur.com/rnFZbgd.png");
$silver-book-award: url("https://i.imgur.com/1tJl28k.png");
$gold-book-award: url("https://i.imgur.com/cZzdSKm.png");

// Enter race or competition icons
$competition: url("https://i.imgur.com/SBiVd3b.png");
$race: url("https://i.imgur.com/3cCOjvW.png");

// Game type icons for gametype-signs
$abra: url("https://i.imgur.com/GSgcQHr.png");
$crash: url("https://i.imgur.com/Jtc0hbl.png");
$dictionary: url("https://i.imgur.com/1D7IS4z.png");
$digits: url("https://i.imgur.com/4wGQAmB.png");
$infinity: url("https://i.imgur.com/nv8KiwH.png");
$letters: url("https://i.imgur.com/h9gIqII.png");
$marathone: url("https://i.imgur.com/FrbMx1S.png");
$usual: url("https://i.imgur.com/bc1qtjV.png");
$yandex: url("https://i.imgur.com/2UotZ43.png");

// Textarea forum and vocabulary section comments bbcode formatting icons for the buttons
$background: url("https://i.imgur.com/ehrkyDk.png");
$bold: url("https://i.imgur.com/9OK8lhQ.png");
$center: url("https://i.imgur.com/7MKySx7.png");
$code: url("https://i.imgur.com/8RjyCqp.png");
$color: url("https://i.imgur.com/rlm02Hi.png");
$hide: url("https://i.imgur.com/xDm3rUs.png");
$html: url("https://i.imgur.com/OgwovGX.png");
$image: url("https://i.imgur.com/CPXb6fF.png");
$italic: url("https://i.imgur.com/5ocDivo.png");
$left: url("https://i.imgur.com/mhGYxF3.png");
$link: url("https://i.imgur.com/3EKme2P.png");
$list: url("https://i.imgur.com/wrRH3HC.png");
$listnum: url("https://i.imgur.com/OHdzZda.png");
$quote: url("https://i.imgur.com/5lXzkq5.png");
$quotesel: url("https://i.imgur.com/UfiGb5M.png");
$right: url("https://i.imgur.com/qV4lUmE.png");
$size: url("https://i.imgur.com/QTu5Xbu.png");
$strike: url("https://i.imgur.com/6AyRP37.png");
$sub: url("https://i.imgur.com/K1PKT3j.png");
$sup: url("https://i.imgur.com/rDf6r46.png");
$tab: url("https://i.imgur.com/xuyw8TO.png");
$underlined: url("https://i.imgur.com/vPgSVYU.png");
$smile: url("https://i.imgur.com/QKGLj9X.png");
$youtube: url("https://i.imgur.com/usx9mk9.png");

// Vocabulary popularity square progress bar
$vocabularyPopularity: url("https://i.imgur.com/2eXawT9.png");

// Donation button
$donate: url("https://i.imgur.com/DRxzmSe.png");

// Error on track (BOLT)
$errorOnTrackBolt: url("https://i.imgur.com/78JhhAA.png");

// Race keyboard
// RU
$backRussianKeyboard: url("https://i.imgur.com/JkhSkyg.png");
$foreRussianKeyboard: url("https://i.imgur.com/Jdon0BB.png");
// EN
$backEnglishKeyboard: url("https://i.imgur.com/pzB4kEl.png");
$foreEnglishKeyboard: url("https://i.imgur.com/cNTXVxU.png");
// Shift keys
$shiftKey: url("https://i.imgur.com/alP9Hh6.png");

// ===== ABOUT PAGE (PREMIUM) =====
$diagrams: url("https://i.imgur.com/LIjfxXL.png");
$premiumCheck: url("https://i.imgur.com/1dDdZ1j.png");
$buyPremium: url("https://i.imgur.com/Ntly0I5.png");