@import "statistics-table";

$gametype-colors: (
  "normal": (
    #262626: darken($gametype-normal, 20%),
    #333333: $gametype-normal,
  ),
  "chars": (
    #884300: darken($gametype-chars, 20%),
    #b55900: $gametype-chars,
  ),
  "digits": (
    #595959: darken($gametype-digits, 20%),
    #777777: $gametype-digits,
  ),
  "sprint": (
    #622f2c: darken($gametype-sprint, 20%),
    #833f3a: $gametype-sprint,
  ),
  "abra": (
    #2e3641: darken($gametype-abra, 20%),
    #3d4856: $gametype-abra,
  ),
  "noerror": (
    #356e80: darken($gametype-noerror, 20%),
    #4692aa: $gametype-noerror,
  ),
  "vocabulary": (
    #3e397d: darken($gametype-voc, 20%),
    #524ca7: $gametype-voc,
  ),
  "other": (
    #999999: $black,
    #cccccc: $deepgray,
  ),
);

.profile-root {
  .profile-content {
    .profile-stats {
      .profile-stats-overview {
        .row {
          @include flex-layout(column, center, center);
          margin: 0 !important;

          // Pie chart
          .col-xs-8 {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            order: 1 !important;

            h4 {
              display: none !important;
            }
            .chart-pie {
              svg {
                g {
                  path {
                    stroke: none !important;
                  }

                  g.google-visualization-tooltip {
                    background-color: $black !important;

                    path {
                      fill: $black !important;
                    }

                    text {
                      fill: $white !important;
                    }
                  }

                  // Pie chart piece text
                  text[fill="#ffffff"] {
                    font: 600 14px "Montserrat", Verdana, Geneva, Tahoma,
                      sans-serif !important;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                      -1px 1px 0 #000, 1px 1px 0 #000 !important;
                  }

                  // Dynamic generation using @each
                  @each $gametype, $color-map in $gametype-colors {
                    @each $original-color, $new-color in $color-map {
                      path[fill="#{$original-color}"] {
                        fill: #{$new-color} !important;
                      }
                    }
                  }
                }
              }
            }
          }
          // Recent games
          .col-xs-4 {
            width: 100% !important;
            order: 0 !important;
            padding: 0 !important;

            .recent {
              padding: 10px !important;
              background: $black !important;

              ul {
                @include flex-layout(row, start, start);
                flex-wrap: wrap !important;
                margin: 0 !important;

                li {
                  background: transparent !important;
                  a {
                    @include anchor-to-button($font-size: 14px);
                  }
                }
              }
            }
          }

          @include chart-table;
        }
      }
    }
  }
}

@import "statistics-inside";