.profile-root {
  .profile-content {
    .profile-stats {
      .stats-empty {
        color: $white !important;
        background: $black !important;

        h3 {
          color: $red !important;
        }

        .icon-icomoon {
          color: $red !important;
        }
      }

      .profile-stats-details {
        .top-stats {
          @include flex-layout(row, start, start);
          margin: 0 -10px 0 !important;
          gap: 10px !important;

          .col-xs-4 {
            @include flex-layout(row, start, start);
            flex-wrap: wrap !important;
            gap: 10px !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;

            .best-speed {
              background-color: lighten($green, 5%) !important;

              .title {
                color: darken($green, 30%) !important;

                .qual {
                  opacity: 1 !important;

                  .icon-icomoon {
                    color: darken($green, 30%) !important;
                  }
                }
              }

              .content {
                background-color: lighten($green, 30%) !important;
                border: none !important;

                .icon-icomoon {
                  color: darken($green, 30%) !important;
                }

                .value {
                  color: darken($green, 30%) !important;
                }
              }

              .more {
                .dropdown-toggle {
                  color: darken($green, 30%) !important;

                  .toggle-text {
                    border: none !important;
                  }

                  .caret {
                    border-top-color: darken($green, 30%) !important;
                  }
                }
              }
            }

            .counter {
              background: $black !important;
              margin: 0 !important;

              .title {
                color: $lightblue !important;

                .icon-icomoon {
                  color: $lightblue !important;
                }
              }

              .value {
                color: $white !important;
                background: $deepgray !important;
                border: none !important;

                .icon-icomoon {
                  color: $white !important;
                }
              }
            }
          }
        }

        .charts {
          background: $darkgray !important;

          .graph-controls {
            @media (max-width: 750px) {
              @include flex-layout(column, start, start);
              gap: 5px !important;
            }

            .period {
              .dropdown-menu {
                overflow: hidden !important;

                .col-xs-5 {
                  @include flex-layout(row, start, center);
                  gap: 5px !important;
                  margin-top: 15px !important;
                  flex-wrap: nowrap !important;
                  width: 100% !important;

                  label {
                    font-size: 0 !important;
                    color: $blue !important;

                    input {
                      padding: 5px 10px !important;
                      width: 100% !important;
                      text-align: center !important;
                    }
                  }
                }

                .col-xs-7 {
                  width: 100% !important;
                  border-color: $darkgray !important;

                  .fast-period {
                    a {
                      @include anchor-to-button($font-size: 12px, $width: 100%);
                    }
                  }
                }

                .close {
                  opacity: 1 !important;
                  font-size: 0 !important;
                  width: 15px !important;
                  height: 15px !important;
                  background: transparent icon("close", $lightblue) no-repeat
                    center / contain !important;
                  transition: filter 0.15s ease-in-out !important;

                  &:hover {
                    filter: brightness(0.8) !important;
                  }
                }
              }
            }
          }

          .charts-contents {
            .chart-graph {
              @media (max-width: 666px) {
                transform: scale(0.8) !important;
              }

              svg {
                // Graph background
                rect[fill="#ffffff"] {
                  fill: $darkgray !important;
                }

                // Graph peaks
                rect[fill="#109618"] {
                  fill: $yellow !important;
                }

                // Graph lines
                rect[width="1"],
                rect[height="1"] {
                  fill: $blue !important;
                }

                // Grapth curves
                // Front
                path[fill="#ffffff"] {
                  fill: $lightblue !important;
                  fill-opacity: 0.8 !important;
                }
                // Back
                path[fill="#3366cc"] {
                  fill: $black !important;
                  fill-opacity: 0.5 !important;
                }

                // Grapth line
                path[stroke="#3366cc"] {
                  stroke: $yellow !important;
                }

                // Grapth top dashed line
                path[stroke="#e9a511"] {
                  stroke: $yellow !important;
                }

                text {
                  fill: $black !important;
                  stroke: $blue !important;
                  font: 600 12px "Montserrat", sans-serif !important;
                }
              }
            }

            .stats-empty {
              color: $white !important;
              background: $black !important;

              h3 {
                color: $red !important;
              }

              p {
                @include flex-layout(row, center, center);

                a {
                  @include anchor-to-button(
                    $background-color: $red,
                    $background-hover: darken($red, 10%)
                  );
                }
              }

              .icon-icomoon {
                color: $red !important;
              }
            }
          }

          .google-visualization-tooltip {
            border-color: $black !important;
            color: $white !important;
            background-color: $black !important;

            .chart-tooltip {
              h4 {
                color: $orange !important;
              }
            }
          }

          .table-controls {
            @include flex-layout(row, center, center);
            gap: 10px !important;

            @media (max-width: 666px) {
              @include flex-layout(column, start, start);
              gap: 5px !important;
            }

            .table-control {
              margin: 0 !important;
              @include anchor-to-button($font-size: 12px, $width: 100%);
            }
          }

          @include chart-table;
        }
      }
    }
  }
}
