@import "../data/variables";
@import "../animations";
@import "../mixins";

#complexity-panel {
  width: 300px;
  border-radius: 0 5px 5px 0 !important;
  background: $black !important;
  transition: opacity 0.15s ease-in-out !important;
  position: absolute;
  top: 120px; // Default position, before application of media queries

  @media (max-width: 1360px) {
    @include collapsible-panel(
      $order: 2,
      $icon: "percent",
      $icon-color: $lightblue
    );
  }

  &:hover {
    opacity: 1;
  }

  #statistics {
    background: transparent !important;

    #complexity-pre-calc {
    }

    #complexity-calc {
      #complexity-calc-inner {
        #spectrumCanvas {
          margin: 10px 0 !important;
          border-radius: 5px !important;
          overflow: hidden !important;
          canvas {
            height: 25px !important;
            width: 280px !important;
          }
        }
      }
    }
  }
}
