@import "../data/variables";
@import "../mixins";

$buttonSize: 24px !default;

#recent-games-container {
  background: $darkgray !important;

  #recent-games {
    @include flex-layout(row, start, start);
    gap: 5px !important;

    .recent-game {
      border: 1px solid $gray !important;
      border-radius: 5px !important;
      background: $deepgray !important;
      margin: 0 !important;
      transition: backgorund 0.1s ease-in-out, border-color 0.1s ease-in-out !important;

      .recent-game-handle {
        img {
          display: none !important;
        }

        background: transparent dragTopLeft-icon($white) no-repeat center / 10px !important;
      }

      .recent-game-buttons {
        overflow: hidden !important;
        border-radius: 3px 3px 0 0 !important;
        transform: translateY(-100%) !important;
        right: 5px !important;
        width: fit-content !important;
        height: $buttonSize !important;
        @include flex-layout(row, center, center);

        .recent-game-pin,
        .recent-game-delete {
          float: unset !important;
          width: $buttonSize !important;
          height: $buttonSize !important;
          background-color: $gray !important;
          background-repeat: no-repeat !important;
          background-size: $buttonSize - 4px !important;
          background-position: center !important;
          top: unset !important;
          left: unset !important;
          bottom: 0 !important;
          margin: 0 !important;
          padding: 0 !important;
          transition: background-color 0.1s ease-in-out !important;

          &:hover {
            background-color: $blue !important;
          }

          img {
            opacity: 0 !important;
            width: $buttonSize !important;
            max-width: $buttonSize !important;
            height: $buttonSize !important;
            max-height: $buttonSize !important;
            clip: unset !important;
          }
        }

        .recent-game-pin {
          right: $buttonSize !important;
          background-image: locked-icon($black) !important;
        }

        .recent-game-delete {
          right: 0 !important;
          background-image: close-icon($black) !important;
        }
      }

      a {
        .recent-game-name {
          font: 600 14px "Montserrat", sans-serif !important;
        }

        .recent-game-description {
          color: $white !important;
          font: 400 12px "Montserrat", sans-serif !important;
        }
      }

      &:hover {
        border-color: $lightblue !important;
        background: $black !important;
      }
    }
  }
}
