@import "../mixins";

#daily-remaining-races {
  position: absolute !important;
  bottom: 0 !important;
  transform: translateY(100%) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 0 0 3px 3px !important;
  background-color: $orange !important;
  @include flex-layout;
  font: bold 1.5em "Montserrat", sans-serif !important;
  color: gold !important;
}
